.o-ui-date-range-input {
    --o-ui-date-range-input-padding: var(--hop-space-inset-md);
    --o-ui-date-range-input-border-color: var(--hop-neutral-border);
    --o-ui-date-range-input-background-color-disabled: var(--hop-neutral-surface-disabled);
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: var(--o-ui-focus-ring-transition);
    padding: 0 var(--o-ui-date-range-input-padding);
    /* For clear button */
    padding-right: var(--hop-space-inset-xl);
    border-radius: var(--hop-shape-rounded-md);
    border: 1px solid var(--o-ui-date-range-input-border-color);
    color: var(--hop-neutral-text);
    background-color: var(--hop-neutral-surface);
}

.o-ui-date-range-input:not(.o-ui-date-range-input-fluid) {
    max-width: 20rem;
    width: 100%;
}

/* FLUID */
.o-ui-date-range-input-fluid {
    flex-grow: 1;
    width: 100%;
}

/* STATES */
/* STATES | FOCUS */
.o-ui-date-range-input-focus:not(.o-ui-date-range-input-disabled) {
    --o-ui-date-range-input-border-color: var(--hop-neutral-border-active);
    background-color: var(--hop-neutral-surface);
    box-shadow: 0 0 0 0.12rem var(--hop-neutral-surface), 0 0 0 0.219rem var(--hop-primary-border-focus);
}

/* STATES | FOCUS / INVALID */
.o-ui-date-range-input-focus.o-ui-date-range-input-invalid {
    --o-ui-date-range-input-border-color: var(--hop-danger-border-strong);
}

/* STATES | FOCUS | HOVER / INVALID */
.o-ui-date-range-input-focus:hover:not(.o-ui-date-range-input-disabled).o-ui-date-range-input-invalid {
    --o-ui-date-range-input-border-color: var(--hop-danger-border-strong);
}

/* STATES | HOVER */
.o-ui-date-range-input:hover:not(.o-ui-date-range-input-disabled),
.o-ui-date-range-input-hover:not(.o-ui-date-range-input-disabled) {
    --o-ui-date-range-input-border-color: var(--hop-neutral-border-hover);
    background-color: var(--hop-neutral-surface-hover);
}

/* STATES | HOVER / INVALID */
.o-ui-date-range-input.o-ui-date-range-input-invalid:hover:not(.o-ui-date-range-input-focus):not(.o-ui-date-range-input-disabled) {
    --o-ui-date-range-input-border-color: var(--hop-danger-border-strong);
}

/* STATES | DISABLED */
.o-ui-date-range-input-disabled {
    --o-ui-date-range-input-border-color: var(--hop-neutral-border-disabled);
    background-color: var(--o-ui-date-range-input-background-color-disabled);
    color: var(--hop-neutral-text-disabled);
    cursor: not-allowed;
}

.o-ui-date-range-input-disabled .o-ui-date-range-input-divider {
    border-left-color: var(--hop-neutral-border) !important;
}

.o-ui-date-range-input .o-ui-date-range-input-date-input:disabled {
    background-color: var(--o-ui-date-range-input-background-color-disabled);
    cursor: not-allowed;
}

/* STATES | INVALID */
.o-ui-date-range-input-invalid {
    --o-ui-date-range-input-border-color: var(--hop-danger-border-strong);
    z-index: 2;
}

/* DATE INPUT */
.o-ui-date-range-input-date-input {
    font-size: var(--hop-body-md-font-size);
    color: inherit;
    padding: 0;
    padding-left: var(--hop-space-inset-xs);
    border: none;
    outline: transparent;
    transition: all .12s ease-in, padding 0s linear;
    width: 100%;
    min-height: calc(2.5rem - 2px);
    background-color: transparent;
}

/* DATE INPUT | PLACEHOLDER */
.o-ui-date-range-input-date-input::placeholder {
    color: var(--hop-neutral-text-weakest);
}

/* DATE INPUT | SELECTION */
.o-ui-date-range-input-date-input::selection {
    background-color: var(--hop-decorative-option1-surface-weak);
}

/* DIVIDER */
.o-ui-date-range-input .o-ui-date-range-input-divider[aria-orientation="vertical"] {
    flex-shrink: 0;
    align-self: auto;
    height: 1.5625rem;
    min-height: auto;
}

/* CLEAR BUTTON */
.o-ui-date-range-input-clear-button {
    position: absolute;
    right: var(--hop-space-inline-xs);
}

/* BUTTON PRESETS */
.o-ui-date-range-input-button-presets {
    display: inline-flex;
    align-items: center;
    max-width: max-content;
    width: 100%;
    flex-wrap: wrap;
    gap: var(--hop-space-inline-md);
}

/* BUTTON PRESETS | FLUID */
.o-ui-date-range-input-button-presets-fluid {
    width: 100%;
    flex-wrap: wrap;
}

/* IN GROUP */
.o-ui-date-range-input-in-group:not(.o-ui-date-range-input-fluid) {
    width: 100%;
    max-width: 18.75rem;
}
