.o-ui-tooltip {
    background-color: var(--hop-neutral-surface-active);
    border-radius: var(--hop-shape-rounded-md);
    color: var(--hop-neutral-text-strong);
    padding: var(--hop-space-inset-squish-md);
    max-width: 20rem;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

/* We need a .o-ui-tooltip-content class */
/* LEFT ICON */
.o-ui-tooltip .o-ui-icon {
    margin-right: var(--hop-space-inline-xs);
}

/* RIGHT ICON */
.o-ui-tooltip .o-ui-text + .o-ui-icon {
    margin-left: var(--hop-space-inline-xs);
}

/* DISABLED WRAPPER */
.o-ui-tooltip-disabled-wrapper {
    display: inline-block;
}
