.o-ui-tooltip {
    background-color: var(--hop-neutral-surface-selected);
    border-radius: var(--hop-shape-rounded-md);
    color: var(--hop-neutral-text-strong);
    padding: var(--hop-space-inset-squish-md);
    max-width: 20rem;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

/* DISABLED WRAPPER */
.o-ui-tooltip-disabled-wrapper {
    display: inline-block;
}
