/* TABS */
.o-ui-tabs {
    height: max-content;
    --o-ui-tab-stroke-width: 2px;
}

/* TABS | ORIENTATION | VERTICAL */
.o-ui-tabs-vertical {
    display: flex;
}

/* TAB LIST */
.o-ui-tab-list {
    display: flex;
    background-color: var(--hop-neutral-surface-weakest);
    outline: 1px solid var(--hop-neutral-border-weak);
    border-radius: var(--hop-shape-rounded-md);
}

/* TAB LIST | ORIENTATION | HORIZONTAL */
.o-ui-tabs-horizontal .o-ui-tab-list {
    align-items: center;
}

/* TAB LIST | ORIENTATION | VERTICAL */
.o-ui-tabs-vertical .o-ui-tab-list {
    flex-direction: column;
}

/* TAB LIST | POPOVER | TRIGGER */
.o-ui-tab-list-popover-trigger {
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--hop-neutral-border-weak);
    border-radius: var(--hop-shape-rounded-sm);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: var(--hop-neutral-text);
    font-family: var(--hop-body-sm-font-family);
    font-size: var(--hop-body-sm-font-size);
    position: relative;
    height: 2rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.o-ui-tab-list-popover-trigger:hover {
    color: var(--hop-neutral-text);
}

/* TAB LIST | POPOVER | TRIGGER | OPEN */
.o-ui-tab-list-popover-trigger[aria-expanded="true"] {
    background-color: var(--hop-neutral-surface-weakest-hover);
}

/* TAB LIST | POPOVER | TRIGGER | HOVER */
.o-ui-tab-list-popover-trigger:not([disabled]):hover {
    background-color: var(--hop-neutral-surface-weakest-hover);
}

/* TAB LIST | POPOVER */
.o-ui-tab-list-popover {
    width: max-content;
    max-width: 20rem;
    overflow-y: auto;
    background-color: var(--hop-neutral-surface);
    outline: transparent;
    border: 1px solid var(--hop-neutral-border-weak);
    border-radius: var(--hop-shape-rounded-md);
    box-shadow: var(--hop-elevation-lifted);
    padding: var(--hop-space-inset-sm);
}

/* TAB LIST | POPOVER | TAB */
.o-ui-tab-list-popover .o-ui-tab {
    color: var(--hop-neutral-text);
    border-radius: var(--hop-shape-rounded-md);
    font-size: var(--hop-body-sm-font-size);
    height: 2rem;
    min-height: 2rem;
    padding: 0 var(--hop-space-inset-md);
    text-align: left;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: start;
    position: relative;
    width: 100%;
}

/* TAB LIST | POPOVER | TAB */
.o-ui-tab-list-popover .o-ui-tab:not([disabled]):hover {
    background-color: var(--hop-neutral-surface-hover);
    border-bottom: 0;
}

/* TAB LIST | POPOVER | FOCUS */
.o-ui-tab-list-popover .o-ui-tab::before {
    left: 0.5rem;
    right: 0.5rem;
}

/* TAB LIST | HIDDEN TABS */
.o-ui-tab-list-hidden-tabs {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -9999;
}

.o-ui-tab-list-hidden-tab {
    width: max-content;
}

/* TAB */
.o-ui-tab {
    outline: transparent;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--hop-space-inset-md);
    border: transparent;
    transition: all var(--o-ui-easing-duration-2) var(--o-ui-easing-productive);
    min-width: max-content;
    min-height: 3rem;
    color: var(--hop-neutral-text-weak);
    position: relative;
    font-family: inherit;
}

/* View https://css-tricks.com/slightly-careful-sub-elements-clickable-things */
.o-ui-tab > * {
    pointer-events: none;
}

/* TAB | WITH ICON */
.o-ui-tab-has-icon,
.o-ui-tab-list-popover .o-ui-tab-has-icon {
    padding-left: calc(0.5rem + 1px);
}

/* TAB | STATE | FOCUS */
.o-ui-tab::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: calc(0.5rem - var(--o-ui-tab-stroke-width));
    border: var(--o-ui-focus-ring-thickness-md) transparent solid;
    border-radius: var(--hop-shape-rounded-sm);
    pointer-events: none;
    height: calc(1.25rem + 0.25rem);
    transition: var(--o-ui-focus-ring-transition);
}

/* TAB | STATE | FOCUS | ORIENTATION | HORIZONTAL */
.o-ui-tabs-horizontal .o-ui-tab::before {
    left: 0.5rem;
    right: 0.5rem;
}

/* TAB | STATE | FOCUS | ORIENTATION | VERTICAL */
.o-ui-tabs-vertical .o-ui-tab::before {
    left: 1px;
    right: 0;
}

.o-ui-tabs-vertical .o-ui-tab {
    width: 100%;
    justify-content: start;
}

.o-ui-tabs-vertical .o-ui-tab:last-child {
    margin-bottom: 0;
}

/* TAB | STATE | DISABLED */
.o-ui-tab[disabled] {
    color: var(--hop-neutral-text-disabled);
    cursor: not-allowed;
}

/* TAB | STATE | FOCUS */
.o-ui-tab:not([disabled]):focus-visible:before,
.o-ui-tab-focus:not([disabled]):before {
    border-color: var(--o-ui-focus-ring-color-alias-default);
}

/* TAB | STATE | HOVER */
.o-ui-tab:not([disabled]):hover,
.o-ui-tab-hover:not([disabled]) {
    color: var(--o-ui-text-alias-primary);
}

/* TAB | STATE | SELECTED */
.o-ui-tab[aria-selected="true"] {
    color: var(--hop-neutral-text);
}

/* TAB | STATE | SELECTED | ORIENTATION | HORIZONTAL */
.o-ui-tabs-horizontal .o-ui-tab[aria-selected="true"]::after {
    content: "";
    width: calc(100% - calc(1rem * 2));
    height: 2px;
    background-color: var(--hop-neutral-border-strong);
    position: absolute;
    left: 1rem;
    bottom: -1px;
}

/* TAB | STATE | SELECTED | ORIENTATION | VERTICAL */
.o-ui-tabs-vertical .o-ui-tab[aria-selected="true"]::after {
    content: "";
    height: calc(100% - 1.5rem);
    width: 2px;
    background-color: var(--hop-neutral-border-strong);
    position: absolute;
    left: 0;
}

/* TAB | FLUID */
/* TAB | FLUID | ORIENTATION | HORIZONTAL */
.o-ui-tabs-fluid.o-ui-tabs-horizontal .o-ui-tab {
    flex-grow: 1;
    flex-shrink: 1;
}

/* TAB | FLUID | ORIENTATION | VERTICAL */
.o-ui-tabs-fluid.o-ui-tabs-vertical .o-ui-tab {
    height: 100%;
}

/* TAB | TEXT */
.o-ui-tab-text {
    white-space: nowrap;
}

.o-ui-tab .o-ui-tab-text {
    color: inherit;
    line-height: 1;
}

.o-ui-tab .o-ui-tab-icon {
    color: inherit;
    fill: currentColor;
}

.o-ui-tab-icon + .o-ui-tab-text {
    margin-left: var(--hop-space-inline-xs);
}

/* TAB | ICON */
.o-ui-tab-icon {
    flex-shrink: 0;
}

/* TAB | LOZENGE */
.o-ui-tab-text + .o-ui-tab-lozenge {
    margin-left: var(--hop-space-inline-md);
}

/* PANEL */
.o-ui-tab-panel {
    color: var(--hop-neutral-text);
    text-align: left;
}

/* PANEL | ORIENTATION | HORIZONTAL */
.o-ui-tabs-horizontal .o-ui-tab-panel {
    padding: var(--hop-space-inset-stretch-sm);
}

/*  PANEL | ORIENTATION | VERTICAL */
.o-ui-tabs-vertical .o-ui-tab-panel {
    padding: var(--hop-space-inset-squish-md);
}

/* PANEL | FLUID */
.o-ui-tabs-fluid .o-ui-tab-panel {
    width: 100%;
    height: 100%;
}
