.o-ui-icon {
    display: block;
    fill: currentColor;
    width: 1.25rem;
    height: 1.25rem;
}

/* SIZES */
.o-ui-icon-inherit-size {
    width: 1em;
    height: 1em;
}

/* DISABLED */
.o-ui-icon-disabled {
    opacity: var(--o-ui-disabled-opacity);
}
