.o-ui-sb-tagline {
    font-size: var(--hop-heading-sm-font-size) !important;
    line-height: var(--hop-heading-sm-line-height) !important;
    margin: var(--hop-space-stack-md) 0 !important;
    color: var(--hop-neutral-text-weak) !important;
    max-width: 60ch !important;
}
