/* CHOICE */
.o-ui-modal-choice-container {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: var(--hop-space-inline-xl);
}

.o-ui-modal-choice {
    height: 100%;
}
