.o-ui-divider-has-label {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--hop-neutral-text-weak);
}

.o-ui-divider {
    align-self: stretch;
}

/* HORIZONTAL */
.o-ui-divider[aria-orientation="horizontal"] {
    margin: var(--hop-space-stack-md) 0;
    height: 0;
}

.o-ui-divider[aria-orientation="horizontal"]:not(.o-ui-divider-has-label) {
    border-bottom: 1px solid var(--hop-neutral-border-weak);
}

/* LABELLED */
.o-ui-divider-label {
    max-width: 40ch;
}

/* HORIZONTAL | LABELLED */
.o-ui-divider-has-label[aria-orientation="horizontal"]::before,
.o-ui-divider-has-label[aria-orientation="horizontal"]::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--hop-neutral-border-weak);
}

.o-ui-divider-has-label[aria-orientation="horizontal"]::before {
    margin-right: var(--hop-space-inline-sm);
}

.o-ui-divider-has-label[aria-orientation="horizontal"]::after {
    margin-left: var(--hop-space-inline-sm);
}

/* VERTICAL */
.o-ui-divider[aria-orientation="vertical"] {
    margin: 0 var(--hop-space-inline-sm);
    max-width: max-content;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.o-ui-divider[aria-orientation="vertical"]:not(.o-ui-divider-has-label) {
    border-left: 1px solid var(--hop-neutral-border-weak);
}

/* VERTICAL | LABELLED */
.o-ui-divider-has-label[aria-orientation="vertical"] {
    flex-direction: column;
}

.o-ui-divider-has-label[aria-orientation="vertical"]::before,
.o-ui-divider-has-label[aria-orientation="vertical"]::after {
    content: "";
    flex: 1;
    border-left: 1px solid var(--hop-neutral-border-weak);
}

.o-ui-divider-has-label[aria-orientation="vertical"]::before {
    margin-bottom: var(--hop-space-stack-sm);
}

.o-ui-divider-has-label[aria-orientation="vertical"]::after {
    margin-top: var(--hop-space-stack-sm);
}
