.o-ui-message {
    --icon-size: 1.25rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: var(--hop-space-inset-sm) var(--hop-space-inset-md) var(--hop-space-inset-sm) calc(var(--icon-size) + var(--hop-space-inset-md) + var(--hop-space-inset-xs));
    width: 100%;
    height: max-content;
    border-radius: var(--hop-shape-rounded-md);
    position: relative;
    gap: var(--hop-space-stack-sm) var(--hop-space-inline-sm);
}

.o-ui-message-dismissable {
    padding-right: var(--o-ui-sp-10);
}

/* TITLE  */
.o-ui-message-title {
    margin-bottom: 0;
}

/* ICON */
.o-ui-message-icon {
    position: absolute;
    left: var(--o-ui-sp-3);
    top: calc(var(--o-ui-sp-2) + calc(var(--o-ui-sp-2) / 2));
    margin-top: 0.125rem;
}

.o-ui-message-content {
    flex-grow: 1;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding-top: calc(var(--o-ui-sp-3) / 2);
    padding-bottom: calc(var(--o-ui-sp-3) / 2);
    min-width: 0;
    flex-basis: 12rem;
}

/* ACTION */
.o-ui-message-action {
    /* Ugly fix unti Chroma have decent support for height: min-content + absolute */
    height: auto !important;
    flex-shrink: 0;
    max-width: 11.25rem;
}

/* DISMISS */
.o-ui-message-dismiss {
    position: absolute;
    right: 1rem;
    top: 0.625rem;
}

/* VARIANT | INFORMATIVE */
.o-ui-message-informative {
    background-color: var(--hop-information-surface);
    border: 1px solid var(--hop-information-border);
    color: var(--hop-information-text);
}

/* VARIANT | WARNING */
.o-ui-message-warning {
    background-color: var(--hop-warning-surface);
    border: 1px solid var(--hop-warning-border);
    color: var(--hop-warning-text);
}

/* VARIANT | POSITIVE */
.o-ui-message-positive {
    background-color: var(--hop-success-surface);
    border: 1px solid var(--hop-success-border);
    color: var(--hop-success-text);
}

/* VARIANT | NEGATIVE */
.o-ui-message-negative {
    background-color: var(--hop-danger-surface);
    border: 1px solid var(--hop-danger-border);
    color: var(--hop-danger-text);
}
