.o-ui-sb-snippet {
    border-radius: var(--hop-shape-rounded-md);
}

.o-ui-sb-snippet pre.prism-code {
    padding: var(--hop-space-inset-lg) !important;
    font-size: 15px;
    border-radius: var(--hop-shape-rounded-md);
    overflow-x: auto;
    margin: 0;
}
