.o-ui-badge {
    color: var(--hop-neutral-text);
    position: relative;
    width: max-content;
}

/* ANCHOR */
.o-ui-badge-anchor {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
}

/* OVERLAP */
.o-ui-badge-over-circle .o-ui-badge-anchor {
    top: 10%;
    right: 10%;
}

/* COUNT */
.o-ui-badge-count .o-ui-badge-anchor {
    background-color: var(--hop-primary-surface-strong);
    color: var(--hop-primary-text-strong);
    border-radius: var(--hop-shape-pill);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 1.5rem;
    min-width: 1.5rem;
    padding: 0 0.4rem;
}

/* COUNT | OVERLAP */
.o-ui-badge-count.o-ui-badge-over-icon .o-ui-badge-anchor {
    top: -8%;
    right: -10%;
}

/* DOT */
.o-ui-badge-dot .o-ui-badge-anchor {
    background-color: var(--hop-primary-surface-strong);
    border-radius: var(--hop-shape-circle);
    min-width: 1em;
    min-height: 1em;
}

/* ICON */
.o-ui-badge-icon .o-ui-badge-anchor {
    top: 4%;
    right: 4%;
}

/* ICON | OVERLAP */
.o-ui-badge-icon.o-ui-badge-over-circle .o-ui-badge-anchor {
    top: 18%;
    right: 18%;
}

.o-ui-badge-icon.o-ui-badge-over-icon .o-ui-badge-anchor {
    top: 10%;
    right: 5%;
}
