.o-ui-button-sm.o-ui-icon-button.o-ui-cross-button .o-ui-button-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.o-ui-button-md.o-ui-icon-button.o-ui-cross-button .o-ui-button-icon {
    width: 1.25rem;
    height: 1.25rem;
}
