@import "./Button.css";

.o-ui-text-button {
    --o-ui-text-button-padding: var(--hop-space-inset-md);
    --o-ui-text-button-with-icon-padding: var(--hop-space-inset-sm);
    --o-ui-text-button-icon-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}

/* CONTENT | ICON | START */
.o-ui-text-button .o-ui-button-start-icon + .o-ui-button-text {
    margin-left: var(--hop-space-inline-xs);
}

/* CONTENT | ICON | END */
.o-ui-text-button .o-ui-button-end-icon {
    margin-left: var(--hop-space-inline-xs);
}

/* SIZES */
.o-ui-text-button.o-ui-button {
    padding: 0 var(--o-ui-text-button-padding);
}
