.o-ui-popover {
    background-color: var(--hop-neutral-surface);
    padding: var(--hop-space-inset-md);
    border: 0.0625rem solid var(--hop-neutral-border-weak);
    border-radius: var(--hop-shape-rounded-md);
    box-shadow: var(--hop-elevation-lifted);
    /* Must keep a max width. */
    max-width: 20rem;
    width: 100%;
    position: relative;
    outline: transparent;
}

/* HEADER | SECTION */
.o-ui-popover-header-section {
    margin-bottom: 0;
}

/* CONTENT */
.o-ui-popover-content {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: var(--hop-neutral-text-weak);
}

/* FOOTER | SECTION */
.o-ui-popover-footer-section {
    margin-top: var(--hop-space-stack-md);
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto;
    grid-template-areas: "text button";
}

/* FOOTER | TEXT */
.o-ui-popover-footer {
    grid-area: text;
    margin-right: var(--hop-space-inline-sm);
}

/* BUTTONS */
.o-ui-popover-button {
    grid-area: button;
    justify-self: end;
}

.o-ui-popover-button-group {
    grid-area: button;
    justify-self: end;
}

/* DISMISSABLE */
.o-ui-popover-dismissable .o-ui-popover-header-section {
    padding-right: var(--hop-space-inset-lg);
}
