.o-ui-sb-component-info {
    margin: var(--hop-space-stack-lg) 0 var(--hop-space-stack-xl) 0;
}

.o-ui-sb-component-info-compact {
    margin: var(--hop-space-stack-md) 0;
    overflow-x: auto;
}

.o-ui-sb-component-info-item {
    display: flex;
    align-items: center;
    min-height: 28px;
}

.o-ui-sb-component-info-title {
    display: inline-block !important;
    color: var(--hop-neutral-text-weak) !important;
    font-weight: 550 !important;
    font-size: var(--hop-body-sm-font-size) !important;
    font-style: normal !important;
    width: 5rem !important;
    margin: 0 !important;
    min-width: 80px;
}

.o-ui-sb-component-info-value {
    display: flex !important;
    font-size: var(--hop-body-sm-font-size) !important;
    font-variant: normal !important;
    margin: 0 !important;
    overflow-x: auto;
    overflow-y: hidden;
}

.o-ui-sb-component-info-value a {
    font-size: var(--hop-body-sm-font-size) !important;
}

.o-ui-sb-component-info-value ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    column-gap: 8px;
}

.o-ui-sb-component-info code {
    white-space: nowrap;
}
