.o-ui.o-ui-orbiter {
    --o-ui-border-radius-9999: 624.9375rem;
    --o-ui-border-radius-4: 1.5rem;
    --o-ui-border-radius-3: 1rem;
    --o-ui-border-radius-2: 0.5rem;
    --o-ui-border-radius-1: 0.25rem;
    --o-ui-border-radius-0: 0;
    --o-ui-line-height-1-50: 1.5;
    --o-ui-line-height-1-4285: 1.4285714;
    --o-ui-line-height-1-33: 1.3333333;
    --o-ui-line-height-1-25: 1.25;
    --o-ui-line-height-1-20: 1.2;
    --o-ui-line-height-1-14: 1.1428571;
    --o-ui-line-height-1-125: 1.125;
    --o-ui-font-weight-690: 690;
    --o-ui-font-weight-680: 680;
    --o-ui-font-weight-590: 590;
    --o-ui-font-weight-580: 580;
    --o-ui-font-weight-505: 505;
    --o-ui-font-weight-410: 410;
    --o-ui-font-weight-400: 400;
    --o-ui-font-size-480: 3rem;
    --o-ui-font-size-360: 2.25rem;
    --o-ui-font-size-320: 2rem;
    --o-ui-font-size-280: 1.75rem;
    --o-ui-font-size-240: 1.5rem;
    --o-ui-font-size-200: 1.25rem;
    --o-ui-font-size-180: 1.125rem;
    --o-ui-font-size-160: 1rem;
    --o-ui-font-size-140: 0.875rem;
    --o-ui-font-size-120: 0.75rem;
    --o-ui-font-family-tertiary: ABC Favorit Mono;
    --o-ui-font-family-secondary: Inter;
    --o-ui-font-family-primary: ABC Favorit;
    --o-ui-shadow-lg: 0 10px 18px 8px rgba(60, 60, 60, 0.08);
    --o-ui-shadow-md: 0 4px 10px 4px rgba(60, 60, 60, 0.08);
    --o-ui-shadow-sm: 0 1px 6px 0 rgba(60, 60, 60, 0.1);
    --o-ui-shadow-none: none;
    --o-ui-samoyed: #FFFFFF;
    --o-ui-rock-900: #292929;
    --o-ui-rock-800: #3C3C3C;
    --o-ui-rock-700: #505050;
    --o-ui-rock-600: #636362;
    --o-ui-rock-500: #6C6C6B;
    --o-ui-rock-400: #777775;
    --o-ui-rock-300: #959593;
    --o-ui-rock-200: #B3B3B1;
    --o-ui-rock-100: #CCCCCA;
    --o-ui-rock-75: #E0DFDD;
    --o-ui-rock-50: #ECEBE8;
    --o-ui-rock-25: #F8F6F3;
    --o-ui-rock-20: #FCFBFB;
    --o-ui-abyss: #1D1D1C;
    --o-ui-moss-900: #132A27;
    --o-ui-moss-800: #16433D;
    --o-ui-moss-700: #115A52;
    --o-ui-moss-600: #0A6F64;
    --o-ui-moss-500: #0C796B;
    --o-ui-moss-400: #188A71;
    --o-ui-moss-300: #47A584;
    --o-ui-moss-200: #7DC291;
    --o-ui-moss-100: #AAD89D;
    --o-ui-moss-75: #CDE8AC;
    --o-ui-moss-50: #E3F3B9;
    --o-ui-moss-25: #F4F9E9;
    --o-ui-amanita-900: #431A17;
    --o-ui-amanita-800: #6C2320;
    --o-ui-amanita-700: #952927;
    --o-ui-amanita-600: #BA2D2D;
    --o-ui-amanita-500: #CB2E31;
    --o-ui-amanita-400: #DF3236;
    --o-ui-amanita-300: #FA4D59;
    --o-ui-amanita-200: #FF8E8E;
    --o-ui-amanita-100: #FFBCB7;
    --o-ui-amanita-75: #FFD6D3;
    --o-ui-amanita-50: #FDE6E5;
    --o-ui-amanita-25: #FDF6F6;
    --o-ui-koi-900: #451A02;
    --o-ui-koi-800: #692803;
    --o-ui-koi-700: #8C3504;
    --o-ui-koi-600: #AB4104;
    --o-ui-koi-500: #BA4705;
    --o-ui-koi-400: #C95109;
    --o-ui-koi-300: #E57723;
    --o-ui-koi-200: #FF9B3F;
    --o-ui-koi-100: #FFBF92;
    --o-ui-koi-75: #FFD8BE;
    --o-ui-koi-50: #FFE8D3;
    --o-ui-koi-25: #FFF5E9;
    --o-ui-sunken-treasure-900: #2F250D;
    --o-ui-sunken-treasure-800: #4B390F;
    --o-ui-sunken-treasure-700: #654C0D;
    --o-ui-sunken-treasure-600: #7E5E0A;
    --o-ui-sunken-treasure-500: #8B6609;
    --o-ui-sunken-treasure-400: #996F08;
    --o-ui-sunken-treasure-300: #C28B12;
    --o-ui-sunken-treasure-200: #E2A934;
    --o-ui-sunken-treasure-100: #EAC96D;
    --o-ui-sunken-treasure-75: #F7E694;
    --o-ui-sunken-treasure-50: #FFF2B8;
    --o-ui-sunken-treasure-25: #FFF8D6;
    --o-ui-toad-900: #2A2620;
    --o-ui-toad-800: #433B31;
    --o-ui-toad-700: #594F41;
    --o-ui-toad-600: #6E6151;
    --o-ui-toad-500: #776A59;
    --o-ui-toad-400: #837463;
    --o-ui-toad-300: #A19382;
    --o-ui-toad-200: #BDB1A3;
    --o-ui-toad-100: #D4CBC0;
    --o-ui-toad-75: #E5DED6;
    --o-ui-toad-50: #F0EAE3;
    --o-ui-toad-25: #FEF6EF;
    --o-ui-fog-900: #20282A;
    --o-ui-fog-800: #313E43;
    --o-ui-fog-700: #40535A;
    --o-ui-fog-600: #4E6770;
    --o-ui-fog-500: #557079;
    --o-ui-fog-400: #5E7B84;
    --o-ui-fog-300: #7C9AA3;
    --o-ui-fog-200: #9CB7BE;
    --o-ui-fog-100: #BAD0D5;
    --o-ui-fog-75: #D2E3E7;
    --o-ui-fog-50: #E1EEF1;
    --o-ui-fog-25: #F2F8FA;
    --o-ui-sapphire-900: #152450;
    --o-ui-sapphire-800: #1B3587;
    --o-ui-sapphire-700: #2040C7;
    --o-ui-sapphire-600: #2A43E8;
    --o-ui-sapphire-500: #3B57FF;
    --o-ui-sapphire-400: #4767FE;
    --o-ui-sapphire-300: #6C8FFD;
    --o-ui-sapphire-200: #95B1FF;
    --o-ui-sapphire-100: #B9CBFF;
    --o-ui-sapphire-75: #D6E0FF;
    --o-ui-sapphire-50: #E6EBFF;
    --o-ui-sapphire-25: #F5F6FF;
    --o-ui-orchid-bloom-900: #1E1C5D;
    --o-ui-orchid-bloom-800: #322B8D;
    --o-ui-orchid-bloom-700: #433FAC;
    --o-ui-orchid-bloom-600: #5454BE;
    --o-ui-orchid-bloom-500: #5F61C5;
    --o-ui-orchid-bloom-400: #6B6ECC;
    --o-ui-orchid-bloom-300: #8D91DC;
    --o-ui-orchid-bloom-200: #AEB3E8;
    --o-ui-orchid-bloom-100: #C8CAF0;
    --o-ui-orchid-bloom-75: #DDDDF7;
    --o-ui-orchid-bloom-50: #EAE9FB;
    --o-ui-orchid-bloom-25: #F6F5FF;
    --o-ui-quetzal-900: #002D1C;
    --o-ui-quetzal-800: #00452D;
    --o-ui-quetzal-700: #055C41;
    --o-ui-quetzal-600: #206F54;
    --o-ui-quetzal-500: #2B795E;
    --o-ui-quetzal-400: #38836A;
    --o-ui-quetzal-300: #5DA18C;
    --o-ui-quetzal-200: #83BEAF;
    --o-ui-quetzal-100: #A3D6CB;
    --o-ui-quetzal-75: #BDE8E1;
    --o-ui-quetzal-50: #CFF4EF;
    --o-ui-quetzal-25: #DDFDF9;
    --o-ui-coastal-900: #00274B;
    --o-ui-coastal-800: #003D70;
    --o-ui-coastal-700: #0A538B;
    --o-ui-coastal-600: #23669F;
    --o-ui-coastal-500: #2E70A8;
    --o-ui-coastal-400: #3A7BB2;
    --o-ui-coastal-300: #5D9ACD;
    --o-ui-coastal-200: #81B9E4;
    --o-ui-coastal-100: #9FD2F7;
    --o-ui-coastal-75: #BAE6FF;
    --o-ui-coastal-50: #D9EFFF;
    --o-ui-coastal-25: #F0F8FF;
    --o-ui-space-1280: 8rem;
    --o-ui-space-960: 6rem;
    --o-ui-space-800: 5rem;
    --o-ui-space-640: 64;
    --o-ui-space-480: 3rem;
    --o-ui-space-400: 2.5rem;
    --o-ui-space-320: 2rem;
    --o-ui-space-240: 1.5rem;
    --o-ui-space-160: 1rem;
    --o-ui-space-80: 0.5rem;
    --o-ui-space-40: 0.25rem;
    --o-ui-space-20: 0.125rem;
    --o-ui-space-0: 0;
    --o-ui-space-inline-xl: var(--o-ui-space-320);
    --o-ui-space-inline-lg: var(--o-ui-space-240);
    --o-ui-space-inline-md: var(--o-ui-space-160);
    --o-ui-space-inline-sm: var(--o-ui-space-80);
    --o-ui-space-inline-xs: var(--o-ui-space-40);
    --o-ui-space-stack-xl: var(--o-ui-space-320);
    --o-ui-space-stack-lg: var(--o-ui-space-240);
    --o-ui-space-stack-md: var(--o-ui-space-160);
    --o-ui-space-stack-sm: var(--o-ui-space-80);
    --o-ui-space-stack-xs: var(--o-ui-space-40);
    --o-ui-space-inset-stretch-lg: var(--o-ui-space-480) var(--o-ui-space-240);
    --o-ui-space-inset-stretch-md: var(--o-ui-space-240) var(--o-ui-space-160);
    --o-ui-space-inset-stretch-sm: var(--o-ui-space-160) var(--o-ui-space-80);
    --o-ui-space-inset-squish-lg: var(--o-ui-space-160) var(--o-ui-space-320);
    --o-ui-space-inset-squish-md: var(--o-ui-space-80) var(--o-ui-space-160);
    --o-ui-space-inset-squish-sm: var(--o-ui-space-40) var(--o-ui-space-80);
    --o-ui-space-inset-xl: var(--o-ui-space-320);
    --o-ui-space-inset-lg: var(--o-ui-space-240);
    --o-ui-space-inset-md: var(--o-ui-space-160);
    --o-ui-space-inset-sm: var(--o-ui-space-80);
    --o-ui-space-inset-xs: var(--o-ui-space-40);
    --o-ui-shape-rounded-sm: var(--o-ui-border-radius-1);
    --o-ui-shape-rounded-md: var(--o-ui-border-radius-2);
    --o-ui-shape-rounded-lg: var(--o-ui-border-radius-3);
    --o-ui-shape-pill: var(--o-ui-border-radius-4);
    --o-ui-shape-circle: var(--o-ui-border-radius-9999);
    --o-ui-accent-sm-line-height: var(--o-ui-line-height-1-33);
    --o-ui-accent-sm-font-weight: var(--o-ui-font-weight-580);
    --o-ui-accent-sm-font-size: var(--o-ui-font-size-180);
    --o-ui-accent-sm-font-family: var(--o-ui-font-family-primary);
    --o-ui-accent-lg-line-height: var(--o-ui-line-height-1-125);
    --o-ui-accent-lg-font-weight: var(--o-ui-font-weight-580);
    --o-ui-accent-lg-font-size: var(--o-ui-font-size-480);
    --o-ui-accent-lg-font-family: var(--o-ui-font-family-primary);
    --o-ui-body-xs-underline-line-height: var(--o-ui-line-height-1-33);
    --o-ui-body-xs-underline-font-weight: var(--o-ui-font-weight-505);
    --o-ui-body-xs-underline-font-size: var(--o-ui-font-size-120);
    --o-ui-body-xs-underline-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-xs-bold-line-height: var(--o-ui-line-height-1-33);
    --o-ui-body-xs-bold-font-weight: var(--o-ui-font-weight-690);
    --o-ui-body-xs-bold-font-size: var(--o-ui-font-size-120);
    --o-ui-body-xs-bold-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-xs-semibold-line-height: var(--o-ui-line-height-1-33);
    --o-ui-body-xs-semibold-font-weight: var(--o-ui-font-weight-590);
    --o-ui-body-xs-semibold-font-size: var(--o-ui-font-size-120);
    --o-ui-body-xs-semibold-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-xs-medium-line-height: var(--o-ui-line-height-1-33);
    --o-ui-body-xs-medium-font-weight: var(--o-ui-font-weight-505);
    --o-ui-body-xs-medium-font-size: var(--o-ui-font-size-120);
    --o-ui-body-xs-medium-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-xs-line-height: var(--o-ui-line-height-1-33);
    --o-ui-body-xs-font-weight: var(--o-ui-font-weight-410);
    --o-ui-body-xs-font-size: var(--o-ui-font-size-120);
    --o-ui-body-xs-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-sm-underline-line-height: var(--o-ui-line-height-1-4285);
    --o-ui-body-sm-underline-font-weight: var(--o-ui-font-weight-505);
    --o-ui-body-sm-underline-font-size: var(--o-ui-font-size-140);
    --o-ui-body-sm-underline-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-sm-bold-line-height: var(--o-ui-line-height-1-4285);
    --o-ui-body-sm-bold-font-weight: var(--o-ui-font-weight-690);
    --o-ui-body-sm-bold-font-size: var(--o-ui-font-size-140);
    --o-ui-body-sm-bold-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-sm-semibold-line-height: var(--o-ui-line-height-1-4285);
    --o-ui-body-sm-semibold-font-weight: var(--o-ui-font-weight-590);
    --o-ui-body-sm-semibold-font-size: var(--o-ui-font-size-140);
    --o-ui-body-sm-semibold-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-sm-medium-line-height: var(--o-ui-line-height-1-4285);
    --o-ui-body-sm-medium-font-weight: var(--o-ui-font-weight-505);
    --o-ui-body-sm-medium-font-size: var(--o-ui-font-size-140);
    --o-ui-body-sm-medium-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-sm-line-height: var(--o-ui-line-height-1-4285);
    --o-ui-body-sm-font-weight: var(--o-ui-font-weight-410);
    --o-ui-body-sm-font-size: var(--o-ui-font-size-140);
    --o-ui-body-sm-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-md-underline-line-height: var(--o-ui-line-height-1-50);
    --o-ui-body-md-underline-font-weight: var(--o-ui-font-weight-410);
    --o-ui-body-md-underline-font-size: var(--o-ui-font-size-160);
    --o-ui-body-md-underline-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-md-bold-line-height: var(--o-ui-line-height-1-50);
    --o-ui-body-md-bold-font-weight: var(--o-ui-font-weight-690);
    --o-ui-body-md-bold-font-size: var(--o-ui-font-size-160);
    --o-ui-body-md-bold-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-md-semibold-line-height: var(--o-ui-line-height-1-50);
    --o-ui-body-md-semibold-font-weight: var(--o-ui-font-weight-590);
    --o-ui-body-md-semibold-font-size: var(--o-ui-font-size-160);
    --o-ui-body-md-semibold-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-md-medium-line-height: var(--o-ui-line-height-1-50);
    --o-ui-body-md-medium-font-weight: var(--o-ui-font-weight-505);
    --o-ui-body-md-medium-font-size: var(--o-ui-font-size-160);
    --o-ui-body-md-medium-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-md-line-height: var(--o-ui-line-height-1-50);
    --o-ui-body-md-font-weight: var(--o-ui-font-weight-410);
    --o-ui-body-md-font-size: var(--o-ui-font-size-160);
    --o-ui-body-md-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-lg-underline-line-height: var(--o-ui-line-height-1-33);
    --o-ui-body-lg-underline-font-weight: var(--o-ui-font-weight-505);
    --o-ui-body-lg-underline-font-size: var(--o-ui-font-size-180);
    --o-ui-body-lg-underline-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-lg-bold-line-height: var(--o-ui-line-height-1-33);
    --o-ui-body-lg-bold-font-weight: var(--o-ui-font-weight-690);
    --o-ui-body-lg-bold-font-size: var(--o-ui-font-size-180);
    --o-ui-body-lg-bold-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-lg-semibold-line-height: var(--o-ui-line-height-1-33);
    --o-ui-body-lg-semibold-font-weight: var(--o-ui-font-weight-590);
    --o-ui-body-lg-semibold-font-size: var(--o-ui-font-size-180);
    --o-ui-body-lg-semibold-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-lg-medium-line-height: var(--o-ui-line-height-1-33);
    --o-ui-body-lg-medium-font-weight: var(--o-ui-font-weight-505);
    --o-ui-body-lg-medium-font-size: var(--o-ui-font-size-180);
    --o-ui-body-lg-medium-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-lg-line-height: var(--o-ui-line-height-1-33);
    --o-ui-body-lg-font-weight: var(--o-ui-font-weight-410);
    --o-ui-body-lg-font-size: var(--o-ui-font-size-180);
    --o-ui-body-lg-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-xl-line-height: var(--o-ui-line-height-1-14);
    --o-ui-body-xl-font-weight: var(--o-ui-font-weight-410);
    --o-ui-body-xl-font-size: var(--o-ui-font-size-280);
    --o-ui-body-xl-font-family: var(--o-ui-font-family-secondary);
    --o-ui-body-2xl-line-height: var(--o-ui-line-height-1-125);
    --o-ui-body-2xl-font-weight: var(--o-ui-font-weight-410);
    --o-ui-body-2xl-font-size: var(--o-ui-font-size-320);
    --o-ui-body-2xl-font-family: var(--o-ui-font-family-secondary);
    --o-ui-overline-line-height: var(--o-ui-line-height-1-33);
    --o-ui-overline-font-weight: var(--o-ui-font-weight-400);
    --o-ui-overline-font-size: var(--o-ui-font-size-120);
    --o-ui-overline-font-family: var(--o-ui-font-family-tertiary);
    --o-ui-heading-xs-medium-line-height: var(--o-ui-line-height-1-50);
    --o-ui-heading-xs-medium-font-weight: var(--o-ui-font-weight-580);
    --o-ui-heading-xs-medium-font-size: var(--o-ui-font-size-160);
    --o-ui-heading-xs-medium-font-family: var(--o-ui-font-family-primary);
    --o-ui-heading-xs-line-height: var(--o-ui-line-height-1-50);
    --o-ui-heading-xs-font-weight: var(--o-ui-font-weight-410);
    --o-ui-heading-xs-font-size: var(--o-ui-font-size-160);
    --o-ui-heading-xs-font-family: var(--o-ui-font-family-primary);
    --o-ui-heading-sm-line-height: var(--o-ui-line-height-1-50);
    --o-ui-heading-sm-font-weight: var(--o-ui-font-weight-580);
    --o-ui-heading-sm-font-size: var(--o-ui-font-size-180);
    --o-ui-heading-sm-font-family: var(--o-ui-font-family-primary);
    --o-ui-heading-md-line-height: var(--o-ui-line-height-1-20);
    --o-ui-heading-md-font-weight: var(--o-ui-font-weight-580);
    --o-ui-heading-md-font-size: var(--o-ui-font-size-200);
    --o-ui-heading-md-font-family: var(--o-ui-font-family-primary);
    --o-ui-heading-lg-line-height: var(--o-ui-line-height-1-33);
    --o-ui-heading-lg-font-weight: var(--o-ui-font-weight-680);
    --o-ui-heading-lg-font-size: var(--o-ui-font-size-240);
    --o-ui-heading-lg-font-family: var(--o-ui-font-family-primary);
    --o-ui-heading-xl-line-height: var(--o-ui-line-height-1-14);
    --o-ui-heading-xl-font-weight: var(--o-ui-font-weight-680);
    --o-ui-heading-xl-font-size: var(--o-ui-font-size-280);
    --o-ui-heading-xl-font-family: var(--o-ui-font-family-primary);
    --o-ui-heading-2xl-line-height: var(--o-ui-line-height-1-25);
    --o-ui-heading-2xl-font-weight: var(--o-ui-font-weight-580);
    --o-ui-heading-2xl-font-size: var(--o-ui-font-size-320);
    --o-ui-heading-2xl-font-family: var(--o-ui-font-family-primary);
    --o-ui-heading-3xl-line-height: var(--o-ui-line-height-1-33);
    --o-ui-heading-3xl-font-weight: var(--o-ui-font-weight-680);
    --o-ui-heading-3xl-font-size: var(--o-ui-font-size-360);
    --o-ui-heading-3xl-font-family: var(--o-ui-font-family-primary);
    --o-ui-elevation-floating: var(--o-ui-shadow-lg);
    --o-ui-elevation-lifted: var(--o-ui-shadow-md);
    --o-ui-elevation-raised: var(--o-ui-shadow-sm);
    --o-ui-elevation-none: var(--o-ui-shadow-none);
    --o-ui-status-positive-text: var(--o-ui-moss-700);
    --o-ui-status-positive-surface: var(--o-ui-moss-50);
    --o-ui-status-positive-surface-strong: var(--o-ui-moss-200);
    --o-ui-status-positive-icon: var(--o-ui-moss-700);
    --o-ui-status-inactive-text: var(--o-ui-rock-700);
    --o-ui-status-inactive-surface: var(--o-ui-rock-50);
    --o-ui-status-inactive-icon: var(--o-ui-rock-500);
    --o-ui-status-inactive-surface-strong: var(--o-ui-rock-100);
    --o-ui-status-negative-text: var(--o-ui-amanita-700);
    --o-ui-status-negative-surface: var(--o-ui-amanita-50);
    --o-ui-status-negative-icon: var(--o-ui-amanita-700);
    --o-ui-status-negative-surface-strong: var(--o-ui-amanita-200);
    --o-ui-status-caution-text: var(--o-ui-koi-700);
    --o-ui-status-caution-surface: var(--o-ui-koi-50);
    --o-ui-status-caution-icon: var(--o-ui-koi-700);
    --o-ui-status-caution-surface-strong: var(--o-ui-koi-200);
    --o-ui-status-option4-text: var(--o-ui-fog-600);
    --o-ui-status-option4-surface: var(--o-ui-fog-50);
    --o-ui-status-option4-icon: var(--o-ui-fog-600);
    --o-ui-status-option4-surface-strong: var(--o-ui-fog-200);
    --o-ui-status-option3-text: var(--o-ui-quetzal-700);
    --o-ui-status-option3-surface: var(--o-ui-quetzal-50);
    --o-ui-status-option3-icon: var(--o-ui-quetzal-700);
    --o-ui-status-option3-surface-strong: var(--o-ui-quetzal-200);
    --o-ui-status-option2-icon: var(--o-ui-orchid-bloom-700);
    --o-ui-status-option2-surface: var(--o-ui-orchid-bloom-50);
    --o-ui-status-option2-text: var(--o-ui-orchid-bloom-700);
    --o-ui-status-option2-surface-strong: var(--o-ui-orchid-bloom-200);
    --o-ui-status-option1-text: var(--o-ui-coastal-700);
    --o-ui-status-option1-surface: var(--o-ui-coastal-50);
    --o-ui-status-option1-icon: var(--o-ui-coastal-700);
    --o-ui-status-option1-surface-strong: var(--o-ui-coastal-200);
    --o-ui-status-option5-text: var(--o-ui-toad-600);
    --o-ui-status-option5-surface: var(--o-ui-toad-50);
    --o-ui-status-option5-icon: var(--o-ui-toad-600);
    --o-ui-status-option5-surface-strong: var(--o-ui-toad-200);
    --o-ui-status-option6-text: var(--o-ui-sunken-treasure-600);
    --o-ui-status-option6-surface: var(--o-ui-sunken-treasure-25);
    --o-ui-status-option6-icon: var(--o-ui-sunken-treasure-600);
    --o-ui-status-option6-surface-strong: var(--o-ui-sunken-treasure-200);
    --o-ui-status-progress-text: var(--o-ui-sapphire-500);
    --o-ui-status-progress-surface: var(--o-ui-sapphire-50);
    --o-ui-status-progress-icon: var(--o-ui-sapphire-500);
    --o-ui-status-progress-surface-strong: var(--o-ui-sapphire-200);
    --o-ui-status-neutral-surface: var(--o-ui-samoyed);
    --o-ui-status-neutral-icon: var(--o-ui-rock-800);
    --o-ui-status-neutral-text: var(--o-ui-rock-800);
    --o-ui-status-neutral-surface-strong: var(--o-ui-rock-200);
    --o-ui-information-border: var(--o-ui-coastal-100);
    --o-ui-information-icon: var(--o-ui-coastal-700);
    --o-ui-information-text-weak: var(--o-ui-coastal-300);
    --o-ui-information-surface-weak: var(--o-ui-coastal-50);
    --o-ui-information-surface: var(--o-ui-coastal-25);
    --o-ui-information-text: var(--o-ui-coastal-800);
    --o-ui-information-icon-weak: var(--o-ui-coastal-300);
    --o-ui-information-surface-strong: var(--o-ui-coastal-100);
    --o-ui-information-icon-weakest: var(--o-ui-coastal-75);
    --o-ui-success-surface-weak: var(--o-ui-moss-50);
    --o-ui-success-icon: var(--o-ui-moss-700);
    --o-ui-success-text: var(--o-ui-moss-700);
    --o-ui-success-text-hover: var(--o-ui-moss-800);
    --o-ui-success-surface-strong: var(--o-ui-moss-100);
    --o-ui-success-surface: var(--o-ui-moss-25);
    --o-ui-success-text-weak: var(--o-ui-moss-300);
    --o-ui-success-icon-weakest: var(--o-ui-moss-100);
    --o-ui-success-icon-weak: var(--o-ui-moss-300);
    --o-ui-success-border: var(--o-ui-moss-100);
    --o-ui-warning-text: var(--o-ui-koi-700);
    --o-ui-warning-icon: var(--o-ui-koi-700);
    --o-ui-warning-border: var(--o-ui-koi-100);
    --o-ui-warning-surface-weak: var(--o-ui-koi-50);
    --o-ui-warning-surface-strong: var(--o-ui-koi-100);
    --o-ui-warning-surface: var(--o-ui-koi-25);
    --o-ui-warning-text-weak: var(--o-ui-koi-300);
    --o-ui-warning-icon-weak: var(--o-ui-koi-300);
    --o-ui-warning-icon-weakest: var(--o-ui-koi-100);
    --o-ui-neutral-surface-weakest: var(--o-ui-rock-25);
    --o-ui-neutral-border-weakest: var(--o-ui-rock-50);
    --o-ui-neutral-surface-weak-hover: var(--o-ui-rock-50);
    --o-ui-neutral-border-active: var(--o-ui-rock-800);
    --o-ui-neutral-border-hover: var(--o-ui-rock-300);
    --o-ui-neutral-icon-active: var(--o-ui-samoyed);
    --o-ui-neutral-icon-hover: var(--o-ui-rock-700);
    --o-ui-neutral-icon-strong: var(--o-ui-samoyed);
    --o-ui-neutral-icon-weakest: var(--o-ui-rock-200);
    --o-ui-neutral-border-weak: var(--o-ui-rock-75);
    --o-ui-neutral-border: var(--o-ui-rock-200);
    --o-ui-neutral-icon-weak-hover: var(--o-ui-rock-700);
    --o-ui-neutral-icon-weak: var(--o-ui-rock-400);
    --o-ui-neutral-icon: var(--o-ui-rock-800);
    --o-ui-neutral-icon-disabled: var(--o-ui-rock-300);
    --o-ui-neutral-surface-hover: var(--o-ui-rock-25);
    --o-ui-neutral-surface-strong: var(--o-ui-rock-800);
    --o-ui-neutral-border-strong: var(--o-ui-rock-800);
    --o-ui-neutral-border-disabled: var(--o-ui-rock-50);
    --o-ui-neutral-text-weakest: var(--o-ui-rock-200);
    --o-ui-neutral-text: var(--o-ui-rock-800);
    --o-ui-neutral-text-strong: var(--o-ui-samoyed);
    --o-ui-neutral-text-active: var(--o-ui-samoyed);
    --o-ui-neutral-text-disabled: var(--o-ui-rock-300);
    --o-ui-neutral-surface: var(--o-ui-samoyed);
    --o-ui-neutral-surface-weak: var(--o-ui-rock-50);
    --o-ui-neutral-surface-active: var(--o-ui-rock-800);
    --o-ui-neutral-surface-disabled: var(--o-ui-rock-50);
    --o-ui-neutral-text-weak: var(--o-ui-rock-400);
    --o-ui-neutral-surface-weakest-hover: var(--o-ui-rock-50);
    --o-ui-neutral-surface-weakest-active: var(--o-ui-rock-50);
    --o-ui-neutral-text-hover: var(--o-ui-rock-700);
    --o-ui-decorative-option1-text: var(--o-ui-sapphire-900);
    --o-ui-decorative-option1-icon: var(--o-ui-sapphire-900);
    --o-ui-decorative-option1-text-weak: var(--o-ui-sapphire-50);
    --o-ui-decorative-option1-border: var(--o-ui-sapphire-100);
    --o-ui-decorative-option1-surface: var(--o-ui-sapphire-100);
    --o-ui-decorative-option1-surface-hover: var(--o-ui-sapphire-200);
    --o-ui-decorative-option1-surface-strong: var(--o-ui-sapphire-200);
    --o-ui-decorative-option1-surface-weakest: var(--o-ui-sapphire-25);
    --o-ui-decorative-option1-surface-weak: var(--o-ui-sapphire-50);
    --o-ui-decorative-option2-border: var(--o-ui-quetzal-100);
    --o-ui-decorative-option2-icon: var(--o-ui-quetzal-900);
    --o-ui-decorative-option2-text-weak: var(--o-ui-quetzal-50);
    --o-ui-decorative-option2-text: var(--o-ui-quetzal-900);
    --o-ui-decorative-option2-surface-hover: var(--o-ui-quetzal-100);
    --o-ui-decorative-option2-surface: var(--o-ui-quetzal-75);
    --o-ui-decorative-option2-surface-weak: var(--o-ui-quetzal-100);
    --o-ui-decorative-option3-border: var(--o-ui-koi-100);
    --o-ui-decorative-option3-text-weak: var(--o-ui-koi-50);
    --o-ui-decorative-option3-text: var(--o-ui-koi-900);
    --o-ui-decorative-option3-icon: var(--o-ui-koi-900);
    --o-ui-decorative-option3-surface: var(--o-ui-koi-200);
    --o-ui-decorative-option3-surface-hover: var(--o-ui-koi-200);
    --o-ui-decorative-option3-surface-strong: var(--o-ui-koi-200);
    --o-ui-decorative-option3-surface-weakest: var(--o-ui-koi-25);
    --o-ui-decorative-option3-surface-weak: var(--o-ui-koi-100);
    --o-ui-decorative-option4-border: var(--o-ui-moss-100);
    --o-ui-decorative-option4-text: var(--o-ui-moss-900);
    --o-ui-decorative-option4-text-weak: var(--o-ui-moss-400);
    --o-ui-decorative-option4-icon: var(--o-ui-moss-900);
    --o-ui-decorative-option4-surface: var(--o-ui-moss-75);
    --o-ui-decorative-option4-surface-hover: var(--o-ui-moss-100);
    --o-ui-decorative-option4-surface-strong: var(--o-ui-moss-100);
    --o-ui-decorative-option6-border: var(--o-ui-sunken-treasure-100);
    --o-ui-decorative-option6-text-weak: var(--o-ui-sunken-treasure-200);
    --o-ui-decorative-option6-text: var(--o-ui-sunken-treasure-900);
    --o-ui-decorative-option6-icon: var(--o-ui-sunken-treasure-900);
    --o-ui-decorative-option6-surface: var(--o-ui-sunken-treasure-75);
    --o-ui-decorative-option6-surface-strong: var(--o-ui-sunken-treasure-100);
    --o-ui-decorative-option6-surface-hover: var(--o-ui-sunken-treasure-100);
    --o-ui-decorative-option6-surface-weak: var(--o-ui-sunken-treasure-50);
    --o-ui-decorative-option5-border: var(--o-ui-coastal-100);
    --o-ui-decorative-option5-icon: var(--o-ui-coastal-900);
    --o-ui-decorative-option5-surface: var(--o-ui-coastal-75);
    --o-ui-decorative-option5-surface-hover: var(--o-ui-coastal-100);
    --o-ui-decorative-option5-surface-strong: var(--o-ui-coastal-100);
    --o-ui-decorative-option5-text: var(--o-ui-coastal-900);
    --o-ui-decorative-option5-text-weak: var(--o-ui-coastal-50);
    --o-ui-decorative-option7-border: var(--o-ui-toad-100);
    --o-ui-decorative-option7-text: var(--o-ui-toad-900);
    --o-ui-decorative-option7-text-weak: var(--o-ui-toad-500);
    --o-ui-decorative-option7-surface: var(--o-ui-toad-75);
    --o-ui-decorative-option7-surface-hover: var(--o-ui-toad-75);
    --o-ui-decorative-option7-surface-strong: var(--o-ui-toad-75);
    --o-ui-decorative-option7-icon: var(--o-ui-toad-900);
    --o-ui-decorative-option8-border: var(--o-ui-amanita-100);
    --o-ui-decorative-option8-text: var(--o-ui-amanita-900);
    --o-ui-decorative-option8-surface: var(--o-ui-amanita-100);
    --o-ui-decorative-option8-text-weak: var(--o-ui-amanita-300);
    --o-ui-decorative-option8-surface-strong: var(--o-ui-amanita-100);
    --o-ui-decorative-option8-surface-hover: var(--o-ui-amanita-200);
    --o-ui-decorative-option8-icon: var(--o-ui-amanita-900);
    --o-ui-decorative-option9-border: var(--o-ui-rock-100);
    --o-ui-decorative-option9-text-weak: var(--o-ui-rock-50);
    --o-ui-decorative-option9-text: var(--o-ui-samoyed);
    --o-ui-decorative-option9-surface-hover: var(--o-ui-rock-500);
    --o-ui-decorative-option9-surface-strong: var(--o-ui-rock-800);
    --o-ui-decorative-option9-surface: var(--o-ui-rock-400);
    --o-ui-decorative-option9-icon: var(--o-ui-samoyed);
    --o-ui-primary-surface-active: var(--o-ui-sapphire-50);
    --o-ui-primary-text-hover: var(--o-ui-sapphire-600);
    --o-ui-primary-text-strong-hover: var(--o-ui-samoyed);
    --o-ui-primary-text-strong: var(--o-ui-samoyed);
    --o-ui-primary-surface-hover: var(--o-ui-sapphire-600);
    --o-ui-primary-text: var(--o-ui-sapphire-500);
    --o-ui-primary-surface-strong-hover: var(--o-ui-sapphire-600);
    --o-ui-primary-surface-strong-active: var(--o-ui-sapphire-50);
    --o-ui-primary-surface-strong: var(--o-ui-sapphire-400);
    --o-ui-primary-surface-weak: var(--o-ui-sapphire-25);
    --o-ui-primary-surface: var(--o-ui-sapphire-50);
    --o-ui-primary-text-disabled: var(--o-ui-sapphire-200);
    --o-ui-primary-surface-focus: var(--o-ui-sapphire-25);
    --o-ui-primary-surface-disabled: var(--o-ui-sapphire-200);
    --o-ui-primary-icon-disabled: var(--o-ui-sapphire-200);
    --o-ui-primary-icon-hover: var(--o-ui-sapphire-600);
    --o-ui-primary-border: var(--o-ui-sapphire-400);
    --o-ui-primary-border-focus: var(--o-ui-sapphire-500);
    --o-ui-primary-icon: var(--o-ui-sapphire-500);
    --o-ui-primary-icon-strong-hover: var(--o-ui-samoyed);
    --o-ui-primary-icon-strong: var(--o-ui-samoyed);
    --o-ui-primary-text-active: var(--o-ui-sapphire-500);
    --o-ui-primary-border-active: var(--o-ui-sapphire-400);
    --o-ui-primary-icon-active: var(--o-ui-sapphire-500);
    --o-ui-danger-border: var(--o-ui-amanita-100);
    --o-ui-danger-icon-disabled: var(--o-ui-amanita-100);
    --o-ui-danger-text-disabled: var(--o-ui-amanita-100);
    --o-ui-danger-icon-hover: var(--o-ui-amanita-500);
    --o-ui-danger-icon-strong-hover: var(--o-ui-samoyed);
    --o-ui-danger-icon-strong: var(--o-ui-samoyed);
    --o-ui-danger-text-strong-hover: var(--o-ui-samoyed);
    --o-ui-danger-text-strong: var(--o-ui-samoyed);
    --o-ui-danger-text-weak: var(--o-ui-amanita-300);
    --o-ui-danger-surface-active: var(--o-ui-amanita-50);
    --o-ui-danger-text: var(--o-ui-amanita-700);
    --o-ui-danger-icon-weak: var(--o-ui-amanita-300);
    --o-ui-danger-icon: var(--o-ui-amanita-700);
    --o-ui-danger-border-strong: var(--o-ui-amanita-300);
    --o-ui-danger-surface-weak: var(--o-ui-amanita-50);
    --o-ui-danger-surface-strong-hover: var(--o-ui-amanita-500);
    --o-ui-danger-surface-strong: var(--o-ui-amanita-300);
    --o-ui-danger-surface-hover: var(--o-ui-amanita-500);
    --o-ui-danger-surface-disabled: var(--o-ui-amanita-100);
    --o-ui-danger-text-hover: var(--o-ui-amanita-500);
    --o-ui-danger-surface: var(--o-ui-amanita-25);
    --o-ui-danger-text-active: var(--o-ui-amanita-400);
    --o-ui-danger-icon-active: var(--o-ui-amanita-400);
    --o-ui-danger-border-active: var(--o-ui-amanita-300);
    --o-ui-upsell-surface: var(--o-ui-sunken-treasure-25);
    --o-ui-upsell-surface-active: var(--o-ui-sunken-treasure-50);
    --o-ui-upsell-text-disabled: var(--o-ui-sunken-treasure-400);
    --o-ui-upsell-text-hover: var(--o-ui-sunken-treasure-900);
    --o-ui-upsell-icon: var(--o-ui-sunken-treasure-800);
    --o-ui-upsell-text: var(--o-ui-sunken-treasure-800);
    --o-ui-upsell-surface-disabled: var(--o-ui-sunken-treasure-75);
    --o-ui-upsell-surface-weak: var(--o-ui-sunken-treasure-25);
    --o-ui-upsell-icon-active: var(--o-ui-sunken-treasure-400);
    --o-ui-upsell-border-disabled: var(--o-ui-sunken-treasure-75);
    --o-ui-upsell-surface-hover: var(--o-ui-sunken-treasure-100);
    --o-ui-upsell-border: var(--o-ui-sunken-treasure-100);
    --o-ui-upsell-icon-weak: var(--o-ui-sunken-treasure-100);
    --o-ui-upsell-icon-weakest: var(--o-ui-sunken-treasure-75);
    --o-ui-upsell-text-active: var(--o-ui-sunken-treasure-400);
    --o-ui-upsell-border-active: var(--o-ui-sunken-treasure-200);
}

.o-ui.o-ui-orbiter.o-ui-orbiter-dark {
    --o-ui-upsell-border-active: var(--o-ui-sunken-treasure-500);
    --o-ui-upsell-text-active: var(--o-ui-sunken-treasure-300);
    --o-ui-upsell-icon-weakest: var(--o-ui-sunken-treasure-100);
    --o-ui-upsell-icon-weak: var(--o-ui-sunken-treasure-300);
    --o-ui-upsell-border: var(--o-ui-sunken-treasure-200);
    --o-ui-upsell-surface-hover: var(--o-ui-sunken-treasure-600);
    --o-ui-upsell-border-disabled: var(--o-ui-sunken-treasure-700);
    --o-ui-upsell-icon-active: var(--o-ui-sunken-treasure-300);
    --o-ui-upsell-surface-weak: var(--o-ui-sunken-treasure-800);
    --o-ui-upsell-surface-disabled: var(--o-ui-sunken-treasure-700);
    --o-ui-upsell-text: var(--o-ui-sunken-treasure-900);
    --o-ui-upsell-icon: var(--o-ui-sunken-treasure-900);
    --o-ui-upsell-text-hover: var(--o-ui-sunken-treasure-700);
    --o-ui-upsell-text-disabled: var(--o-ui-sunken-treasure-300);
    --o-ui-upsell-surface-active: var(--o-ui-sunken-treasure-800);
    --o-ui-upsell-surface: var(--o-ui-sunken-treasure-50);
    --o-ui-danger-border-active: var(--o-ui-amanita-400);
    --o-ui-danger-icon-active: var(--o-ui-amanita-300);
    --o-ui-danger-text-active: var(--o-ui-amanita-300);
    --o-ui-danger-surface: var(--o-ui-amanita-200);
    --o-ui-danger-text-hover: var(--o-ui-amanita-200);
    --o-ui-danger-surface-disabled: var(--o-ui-amanita-600);
    --o-ui-danger-surface-hover: var(--o-ui-amanita-200);
    --o-ui-danger-surface-strong: var(--o-ui-amanita-300);
    --o-ui-danger-surface-strong-hover: var(--o-ui-amanita-200);
    --o-ui-danger-surface-weak: var(--o-ui-amanita-900);
    --o-ui-danger-border-strong: var(--o-ui-amanita-300);
    --o-ui-danger-icon: var(--o-ui-amanita-900);
    --o-ui-danger-icon-weak: var(--o-ui-amanita-100);
    --o-ui-danger-text: var(--o-ui-amanita-900);
    --o-ui-danger-surface-active: var(--o-ui-amanita-800);
    --o-ui-danger-text-weak: var(--o-ui-amanita-100);
    --o-ui-danger-text-strong: var(--o-ui-samoyed);
    --o-ui-danger-text-strong-hover: var(--o-ui-samoyed);
    --o-ui-danger-icon-strong: var(--o-ui-samoyed);
    --o-ui-danger-icon-hover: var(--o-ui-amanita-200);
    --o-ui-danger-text-disabled: var(--o-ui-amanita-600);
    --o-ui-danger-icon-disabled: var(--o-ui-amanita-600);
    --o-ui-danger-border: var(--o-ui-amanita-500);
    --o-ui-primary-icon-active: var(--o-ui-sapphire-200);
    --o-ui-primary-border-active: var(--o-ui-sapphire-300);
    --o-ui-primary-text-active: var(--o-ui-sapphire-200);
    --o-ui-primary-icon-strong: var(--o-ui-samoyed);
    --o-ui-primary-icon-strong-hover: var(--o-ui-sapphire-300);
    --o-ui-primary-icon: var(--o-ui-sapphire-200);
    --o-ui-primary-border-focus: var(--o-ui-sapphire-200);
    --o-ui-primary-border: var(--o-ui-sapphire-300);
    --o-ui-primary-icon-hover: var(--o-ui-sapphire-300);
    --o-ui-primary-icon-disabled: var(--o-ui-sapphire-700);
    --o-ui-primary-surface-disabled: var(--o-ui-sapphire-700);
    --o-ui-primary-surface-focus: var(--o-ui-sapphire-900);
    --o-ui-primary-text-disabled: var(--o-ui-sapphire-700);
    --o-ui-primary-surface: var(--o-ui-sapphire-200);
    --o-ui-primary-surface-weak: var(--o-ui-sapphire-800);
    --o-ui-primary-surface-strong: var(--o-ui-sapphire-400);
    --o-ui-primary-surface-strong-hover: var(--o-ui-sapphire-200);
    --o-ui-primary-surface-strong-active: var(--o-ui-sapphire-800);
    --o-ui-primary-text: var(--o-ui-sapphire-200);
    --o-ui-primary-surface-hover: var(--o-ui-sapphire-200);
    --o-ui-primary-text-strong: var(--o-ui-samoyed);
    --o-ui-primary-text-strong-hover: var(--o-ui-sapphire-300);
    --o-ui-primary-text-hover: var(--o-ui-sapphire-300);
    --o-ui-primary-surface-active: var(--o-ui-sapphire-800);
    --o-ui-decorative-option9-border: var(--o-ui-rock-400);
    --o-ui-decorative-option9-icon: var(--o-ui-samoyed);
    --o-ui-decorative-option9-surface-strong: var(--o-ui-rock-800);
    --o-ui-decorative-option9-surface-hover: var(--o-ui-rock-500);
    --o-ui-decorative-option9-surface: var(--o-ui-rock-400);
    --o-ui-decorative-option9-text: var(--o-ui-samoyed);
    --o-ui-decorative-option9-text-weak: var(--o-ui-rock-50);
    --o-ui-decorative-option8-border: var(--o-ui-amanita-400);
    --o-ui-decorative-option8-icon: var(--o-ui-amanita-900);
    --o-ui-decorative-option8-surface-strong: var(--o-ui-amanita-100);
    --o-ui-decorative-option8-surface-hover: var(--o-ui-amanita-200);
    --o-ui-decorative-option8-text-weak: var(--o-ui-amanita-300);
    --o-ui-decorative-option8-surface: var(--o-ui-amanita-100);
    --o-ui-decorative-option8-text: var(--o-ui-amanita-900);
    --o-ui-decorative-option7-border: var(--o-ui-toad-400);
    --o-ui-decorative-option7-icon: var(--o-ui-toad-900);
    --o-ui-decorative-option7-surface-strong: var(--o-ui-toad-75);
    --o-ui-decorative-option7-surface-hover: var(--o-ui-toad-75);
    --o-ui-decorative-option7-surface: var(--o-ui-toad-50);
    --o-ui-decorative-option7-text-weak: var(--o-ui-toad-500);
    --o-ui-decorative-option7-text: var(--o-ui-toad-900);
    --o-ui-decorative-option5-text-weak: var(--o-ui-coastal-50);
    --o-ui-decorative-option5-text: var(--o-ui-coastal-900);
    --o-ui-decorative-option5-surface-strong: var(--o-ui-coastal-100);
    --o-ui-decorative-option5-surface-hover: var(--o-ui-coastal-100);
    --o-ui-decorative-option5-surface: var(--o-ui-coastal-75);
    --o-ui-decorative-option5-border: var(--o-ui-coastal-400);
    --o-ui-decorative-option5-icon: var(--o-ui-coastal-900);
    --o-ui-decorative-option6-surface-weak: var(--o-ui-sunken-treasure-25);
    --o-ui-decorative-option6-surface-strong: var(--o-ui-sunken-treasure-100);
    --o-ui-decorative-option6-surface-hover: var(--o-ui-sunken-treasure-100);
    --o-ui-decorative-option6-surface: var(--o-ui-sunken-treasure-75);
    --o-ui-decorative-option6-border: var(--o-ui-sunken-treasure-400);
    --o-ui-decorative-option6-icon: var(--o-ui-sunken-treasure-900);
    --o-ui-decorative-option6-text: var(--o-ui-sunken-treasure-900);
    --o-ui-decorative-option6-text-weak: var(--o-ui-sunken-treasure-200);
    --o-ui-decorative-option4-surface-strong: var(--o-ui-moss-100);
    --o-ui-decorative-option4-surface-hover: var(--o-ui-moss-100);
    --o-ui-decorative-option4-surface: var(--o-ui-moss-75);
    --o-ui-decorative-option4-border: var(--o-ui-moss-400);
    --o-ui-decorative-option4-icon: var(--o-ui-moss-900);
    --o-ui-decorative-option4-text-weak: var(--o-ui-moss-400);
    --o-ui-decorative-option4-text: var(--o-ui-moss-900);
    --o-ui-decorative-option3-surface-strong: var(--o-ui-koi-200);
    --o-ui-decorative-option3-surface-weakest: var(--o-ui-koi-25);
    --o-ui-decorative-option3-surface-weak: var(--o-ui-koi-50);
    --o-ui-decorative-option3-surface-hover: var(--o-ui-koi-200);
    --o-ui-decorative-option3-surface: var(--o-ui-koi-100);
    --o-ui-decorative-option3-border: var(--o-ui-koi-400);
    --o-ui-decorative-option3-icon: var(--o-ui-koi-900);
    --o-ui-decorative-option3-text: var(--o-ui-koi-900);
    --o-ui-decorative-option3-text-weak: var(--o-ui-koi-50);
    --o-ui-decorative-option2-surface-strong: var(--o-ui-quetzal-100);
    --o-ui-decorative-option2-surface-hover: var(--o-ui-quetzal-100);
    --o-ui-decorative-option2-surface: var(--o-ui-quetzal-75);
    --o-ui-decorative-option2-text: var(--o-ui-quetzal-900);
    --o-ui-decorative-option2-text-weak: var(--o-ui-quetzal-50);
    --o-ui-decorative-option2-border: var(--o-ui-quetzal-400);
    --o-ui-decorative-option2-icon: var(--o-ui-quetzal-900);
    --o-ui-decorative-option1-surface-strong: var(--o-ui-sapphire-200);
    --o-ui-decorative-option1-surface-weakest: var(--o-ui-sapphire-25);
    --o-ui-decorative-option1-surface-weak: var(--o-ui-sapphire-50);
    --o-ui-decorative-option1-surface-hover: var(--o-ui-sapphire-200);
    --o-ui-decorative-option1-surface: var(--o-ui-sapphire-100);
    --o-ui-decorative-option1-text-weak: var(--o-ui-sapphire-50);
    --o-ui-decorative-option1-border: var(--o-ui-sapphire-400);
    --o-ui-decorative-option1-icon: var(--o-ui-sapphire-900);
    --o-ui-decorative-option1-text: var(--o-ui-sapphire-900);
    --o-ui-neutral-text-hover: var(--o-ui-rock-50);
    --o-ui-neutral-surface-weakest-hover: var(--o-ui-rock-800);
    --o-ui-neutral-text-weak: var(--o-ui-rock-200);
    --o-ui-neutral-surface-disabled: var(--o-ui-rock-700);
    --o-ui-neutral-surface-active: var(--o-ui-toad-25);
    --o-ui-neutral-surface-weak: var(--o-ui-rock-800);
    --o-ui-neutral-surface: var(--o-ui-abyss);
    --o-ui-neutral-text-disabled: var(--o-ui-rock-500);
    --o-ui-neutral-text-active: var(--o-ui-rock-900);
    --o-ui-neutral-text-strong: var(--o-ui-rock-900);
    --o-ui-neutral-text: var(--o-ui-rock-25);
    --o-ui-neutral-text-weakest: var(--o-ui-rock-400);
    --o-ui-neutral-border-disabled: var(--o-ui-rock-800);
    --o-ui-neutral-border-strong-hover: var(--o-ui-samoyed);
    --o-ui-neutral-border-strong: var(--o-ui-samoyed);
    --o-ui-neutral-surface-strong: var(--o-ui-samoyed);
    --o-ui-neutral-surface-hover: var(--o-ui-rock-800);
    --o-ui-neutral-icon-disabled: var(--o-ui-rock-500);
    --o-ui-neutral-icon: var(--o-ui-rock-25);
    --o-ui-neutral-icon-weak: var(--o-ui-rock-200);
    --o-ui-neutral-border: var(--o-ui-rock-500);
    --o-ui-neutral-border-weak: var(--o-ui-rock-800);
    --o-ui-neutral-icon-weakest: var(--o-ui-rock-400);
    --o-ui-neutral-icon-strong: var(--o-ui-rock-900);
    --o-ui-neutral-icon-hover: var(--o-ui-rock-50);
    --o-ui-neutral-icon-active: var(--o-ui-rock-900);
    --o-ui-neutral-border-hover: var(--o-ui-rock-300);
    --o-ui-neutral-border-active: var(--o-ui-toad-25);
    --o-ui-neutral-surface-weak-hover: var(--o-ui-rock-700);
    --o-ui-neutral-border-weakest: var(--o-ui-rock-800);
    --o-ui-neutral-surface-weakest: var(--o-ui-rock-900);
    --o-ui-warning-icon-weakest: var(--o-ui-koi-200);
    --o-ui-warning-icon-weak: var(--o-ui-koi-75);
    --o-ui-warning-text-weak: var(--o-ui-koi-75);
    --o-ui-warning-surface: var(--o-ui-koi-75);
    --o-ui-warning-surface-strong: var(--o-ui-koi-300);
    --o-ui-warning-surface-weak: var(--o-ui-koi-800);
    --o-ui-warning-border: var(--o-ui-koi-500);
    --o-ui-warning-icon: var(--o-ui-koi-900);
    --o-ui-warning-text: var(--o-ui-koi-900);
    --o-ui-success-border: var(--o-ui-moss-500);
    --o-ui-success-icon-weak: var(--o-ui-moss-75);
    --o-ui-success-icon-weakest: var(--o-ui-moss-200);
    --o-ui-success-text-weak: var(--o-ui-moss-75);
    --o-ui-success-surface: var(--o-ui-moss-75);
    --o-ui-success-surface-strong: var(--o-ui-moss-300);
    --o-ui-success-text-hover: var(--o-ui-moss-700);
    --o-ui-success-text: var(--o-ui-moss-900);
    --o-ui-success-icon: var(--o-ui-moss-900);
    --o-ui-success-surface-weak: var(--o-ui-moss-800);
    --o-ui-information-icon-weakest: var(--o-ui-coastal-200);
    --o-ui-information-surface-strong: var(--o-ui-coastal-300);
    --o-ui-information-icon-weak: var(--o-ui-coastal-300);
    --o-ui-information-text: var(--o-ui-coastal-900);
    --o-ui-information-surface: var(--o-ui-coastal-75);
    --o-ui-information-surface-weak: var(--o-ui-coastal-800);
    --o-ui-information-text-weak: var(--o-ui-coastal-75);
    --o-ui-information-icon: var(--o-ui-coastal-900);
    --o-ui-information-border: var(--o-ui-coastal-400);
    --o-ui-status-neutral-surface-strong: var(--o-ui-rock-100);
    --o-ui-status-neutral-text: var(--o-ui-rock-25);
    --o-ui-status-neutral-icon: var(--o-ui-rock-25);
    --o-ui-status-neutral-surface: var(--o-ui-abyss);
    --o-ui-status-progress-surface-strong: var(--o-ui-sapphire-200);
    --o-ui-status-progress-icon: var(--o-ui-sapphire-900);
    --o-ui-status-progress-surface: var(--o-ui-sapphire-100);
    --o-ui-status-progress-text: var(--o-ui-sapphire-900);
    --o-ui-status-option6-surface-strong: var(--o-ui-sunken-treasure-100);
    --o-ui-status-option6-icon: var(--o-ui-sunken-treasure-900);
    --o-ui-status-option6-surface: var(--o-ui-sunken-treasure-75);
    --o-ui-status-option6-text: var(--o-ui-sunken-treasure-900);
    --o-ui-status-option5-surface-strong: var(--o-ui-toad-100);
    --o-ui-status-option5-icon: var(--o-ui-toad-900);
    --o-ui-status-option5-surface: var(--o-ui-toad-200);
    --o-ui-status-option5-text: var(--o-ui-toad-900);
    --o-ui-status-option1-surface-strong: var(--o-ui-coastal-100);
    --o-ui-status-option1-icon: var(--o-ui-coastal-900);
    --o-ui-status-option1-surface: var(--o-ui-coastal-200);
    --o-ui-status-option1-text: var(--o-ui-coastal-900);
    --o-ui-status-option2-surface-strong: var(--o-ui-orchid-bloom-100);
    --o-ui-status-option2-text: var(--o-ui-orchid-bloom-900);
    --o-ui-status-option2-surface: var(--o-ui-orchid-bloom-200);
    --o-ui-status-option2-icon: var(--o-ui-orchid-bloom-900);
    --o-ui-status-option3-surface-strong: var(--o-ui-quetzal-100);
    --o-ui-status-option3-icon: var(--o-ui-quetzal-900);
    --o-ui-status-option3-surface: var(--o-ui-quetzal-200);
    --o-ui-status-option3-text: var(--o-ui-quetzal-900);
    --o-ui-status-option4-surface-strong: var(--o-ui-fog-100);
    --o-ui-status-option4-icon: var(--o-ui-fog-900);
    --o-ui-status-option4-surface: var(--o-ui-fog-200);
    --o-ui-status-option4-text: var(--o-ui-fog-900);
    --o-ui-status-inactive-surface-strong: var(--o-ui-rock-100);
    --o-ui-status-inactive-icon: var(--o-ui-rock-800);
    --o-ui-status-inactive-surface: var(--o-ui-rock-75);
    --o-ui-status-inactive-text: var(--o-ui-rock-900);
    --o-ui-status-caution-surface-strong: var(--o-ui-koi-200);
    --o-ui-status-caution-icon: var(--o-ui-koi-900);
    --o-ui-status-caution-surface: var(--o-ui-koi-75);
    --o-ui-status-caution-text: var(--o-ui-koi-900);
    --o-ui-status-negative-surface-strong: var(--o-ui-amanita-200);
    --o-ui-status-negative-icon: var(--o-ui-amanita-900);
    --o-ui-status-negative-surface: var(--o-ui-amanita-75);
    --o-ui-status-negative-text: var(--o-ui-amanita-900);
    --o-ui-status-positive-icon: var(--o-ui-moss-900);
    --o-ui-status-positive-surface-strong: var(--o-ui-moss-200);
    --o-ui-status-positive-surface: var(--o-ui-moss-75);
    --o-ui-status-positive-text: var(--o-ui-moss-900);
}
