/*
IMPORTANT: The Menu component hardcoded a few CSS values to enable dynamic scrollable size, do not remove or rename them:
    - Classes: "o-ui-menu-item", "o-ui-menu-section-title" and "o-ui-menu-divider"
*/

.o-ui {
    --o-ui-menu-border-size: 1px;
    --o-ui-menu-item-height: 2rem;
    --o-ui-menu-item-checkmark-size: 1rem;
    --o-ui-menu-item-icon-size: 1.5rem;
    --o-ui-menu-item-padding-right: calc(var(--hop-space-inset-lg) + var(--o-ui-menu-item-checkmark-size));
    --o-ui-menu-item-description-color: var(--hop-neutral-text-weak);
    --o-ui-menu-item-icon-color: var(--hop-neutral-icon);
}

.o-ui-menu {
    background-color: var(--hop-neutral-surface);
    list-style-type: none;
    padding: var(--hop-space-inset-sm);
    margin: 0;
    border: var(--o-ui-menu-border-size) solid var(--hop-neutral-border-weak);
    border-radius: var(--hop-shape-rounded-md);
    width: max-content;
    min-width: 200px;
    max-width: 20rem;
    height: max-content;
    box-shadow: var(--hop-elevation-lifted);
    overflow-y: auto;
}

/* ITEM */
.o-ui-menu-item {
    color: var(--hop-neutral-text);
    border-radius: var(--hop-shape-rounded-md);
    min-height: var(--o-ui-menu-item-height);
    list-style: none;
    padding-right: var(--o-ui-menu-item-padding-right);
    padding-left: var(--hop-space-inset-md);
    padding-block: 0;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.o-ui-menu-item.o-ui-menu-item-has-description {
    --o-ui-menu-item-height: 3.25rem;
    display: grid;
    padding-block: 0.375rem;
    overflow-x: hidden;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    grid-auto-flow: column;
    grid-template-areas:
        "aside label"
        "aside description";
    row-gap: var(--hop-space-stack-xs);
}

/* ITEM | ICON */
.o-ui-menu-item .o-ui-menu-item-start-icon,
.o-ui-menu-item .o-ui-menu-item-end-icon {
    color: var(--o-ui-menu-item-icon-color);
}

.o-ui-menu-item svg.o-ui-menu-item-start-icon:not(.o-ui-menu-item-checkmark),
.o-ui-menu-item svg.o-ui-menu-item-end-icon:not(.o-ui-menu-item-checkmark) {
    width: var(--o-ui-menu-item-icon-size);
    height: var(--o-ui-menu-item-icon-size);
    flex-shrink: 0;
}

/* ITEM | ICON | START  */
.o-ui-menu-item-start-icon {
    margin-right: var(--hop-space-inline-sm);
    grid-row-start: 1;
    grid-row-end: 3;
}

.o-ui-menu-item.o-ui-menu-item-has-description .o-ui-menu-item-start-icon {
    align-self: start;
}

/* ITEM | ICON | END  */
.o-ui-menu-item-end-icon {
    margin-left: var(--hop-space-inline-sm);
}

/* ITEM | STATE | SELECTED */
.o-ui-menu-item .o-ui-menu-item-checkmark {
    opacity: 0;
    width: var(--o-ui-menu-item-checkmark-size);
    height: var(--o-ui-menu-item-checkmark-size);
    position: absolute;
    right: var(--hop-space-inline-md);
}

.o-ui-menu-item[aria-checked="true"] .o-ui-menu-item-checkmark {
    opacity: 1;
}

.o-ui-menu-item[aria-checked="true"] .o-ui-menu-item-label {
    font-weight: var(--hop-body-sm-semibold-font-weight);
}

/* ITEM | STATE | FOCUS */
.o-ui-menu-item:focus,
.o-ui-menu-item-focus {
    --o-ui-menu-item-icon-color: var(--hop-neutral-icon-hover);
    outline: transparent;
    background-color: var(--hop-neutral-surface-hover);
    color: var(--hop-neutral-text-hover);
}

/* ITEM | STATE | ACTIVE */
.o-ui-menu-item:active:not([aria-disabled="true"]),
.o-ui-menu-item-active:not([aria-disabled="true"]) {
    --o-ui-menu-item-icon-color: var(--hop-neutral-icon-hover);
    background-color: var(--hop-neutral-surface-hover);
    color: var(--hop-neutral-text-hover);
}

/* ITEM | STATE | DISABLED */
.o-ui-menu-item[aria-disabled="true"] {
    --o-ui-menu-item-description-color: var(--hop-neutral-text-disabled);
    --o-ui-menu-item-icon-color: var(--hop-neutral-icon-disabled);
    color: var(--hop-neutral-text-disabled);
    cursor: not-allowed;
}

/* ITEM | STATE | INVALID */
.o-ui-menu-invalid .o-ui-menu-item[aria-checked="true"] {
    --o-ui-menu-item-description-color: var(--hop-danger-text-selected);
    --o-ui-menu-item-icon-color: var(--hop-danger-icon-selected);
    color: var(--hop-danger-text-selected);
}

.o-ui-menu-invalid .o-ui-menu-item:active[aria-checked="true"]:not([aria-disabled="true"]),
.o-ui-menu-invalid .o-ui-menu-item-active[aria-checked="true"]:not([aria-disabled="true"]),
.o-ui-menu-invalid .o-ui-menu-item:focus[aria-checked="true"],
.o-ui-menu-invalid .o-ui-menu-item-focus[aria-checked="true"] {
    --o-ui-menu-item-description-color: var(--hop-danger-text-strong-hover);
    --o-ui-menu-item-icon-color: var(--hop-danger-icon-strong-hover);
    background-color: var(--hop-danger-surface-hover);
    color: var(--hop-danger-text-strong-hover);
}

/* ITEM | DESCRIPTION */
.o-ui-menu-item-description {
    grid-area: description;
    color: var(--o-ui-menu-item-description-color);
    justify-self: start;
    width: 100%;
}

/* LABEL */
.o-ui-menu-item-label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: label;
}

/* SECTION */
.o-ui-menu-section-title {
    cursor: default;
    display: flex;
    font-weight: var(--hop-body-xs-medium-font-weight);
    padding-inline: var(--hop-space-inset-md);
    height: var(--o-ui-menu-item-height);
    line-height: var(--hop-body-xs-medium-line-height);
    color: var(--hop-neutral-text-disabled);
    text-transform: uppercase;
    font-size: var(--hop-body-xs-medium-font-size);
    align-items: center;
}

.o-ui-menu-section-items {
    padding: 0;
}

/* DIVIDER  */
.o-ui-divider.o-ui-menu-divider[aria-orientation="horizontal"] {
    margin: var(--hop-space-stack-xs) 0;
}

/* FLUID */
.o-ui-menu-fluid {
    width: 100%;
}

/* AVATAR */
.o-ui-menu-item-option-avatar {
    margin-right: var(--hop-space-inline-sm);
    grid-area: aside;
    flex-shrink: 0;
    align-self: center;
}

.o-ui-menu-item-has-description .o-ui-menu-item-option-avatar {
    align-self: start;
}
