.o-ui-tag {
    --o-ui-padding-sm: var(--hop-space-inset-md);
    --o-ui-padding-md: var(--hop-space-inset-md);
    border: none;
    display: inline-flex;
    align-items: center;
    color: var(--hop-neutral-text);
    border-radius: var(--hop-shape-pill);
    transition: all var(--o-ui-easing-duration-2) var(--o-ui-easing-productive);
    width: max-content;
    height: max-content;
}

/* AS ANCHOR / BUTTON  */
button.o-ui-tag,
a.o-ui-tag {
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

button.o-ui-tag:after,
a.o-ui-tag:after {
    opacity: 0;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    box-shadow: 0 0 0 var(--o-ui-focus-ring-thickness-md) var(--hop-primary-border-focus);
    border-radius: inherit;
    transition: var(--o-ui-focus-ring-transition);
}

/* AS ANCHOR / BUTTON | STATE | FOCUS */
button:not([disabled]).o-ui-tag:focus-visible,
a:not([disabled]).o-ui-tag:focus-visible,
button:not([disabled]).o-ui-tag.o-ui-tag-focus,
a:not([disabled]).o-ui-tag.o-ui-tag-focus {
    outline: transparent;
}

button:not([disabled]).o-ui-tag:focus-visible:after,
a:not([disabled]).o-ui-tag:focus-visible:after,
button:not([disabled]).o-ui-tag.o-ui-tag-focus:after,
a:not([disabled]).o-ui-tag.o-ui-tag-focus:after {
    opacity: 1;
}

/* SIZE */
/* SIZE | SMALL */
.o-ui-tag-sm {
    min-height: 1.5rem;
    padding: 0 var(--o-ui-padding-sm);
}

/* SIZE */
/* SIZE | MEDIUM */
.o-ui-tag-md {
    min-height: 2rem;
    padding: 0 var(--o-ui-padding-md);
}

/* FLUID */
.o-ui-tag-fluid {
    display: inline-grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: start;
    width: 100%;
    text-align: center;
}

.o-ui-tag-fluid .o-ui-tag-text {
    grid-column: 2 / span 1;
    justify-self: center;
    max-width: 100%;
}

.o-ui-tag-fluid .o-ui-tag-text ~ * {
    justify-self: end;
}

/* SOLID */
.o-ui-tag-solid {
    background-color: var(--hop-neutral-surface-weakest);
    border: 1px solid var(--hop-neutral-border);
}

/* SOLID | AS ANCHOR / BUTTON | STATES */
/* SOLID | AS ANCHOR / BUTTON | STATES | HOVER */
button.o-ui-tag-solid:hover,
a.o-ui-tag-solid:hover,
button.o-ui-tag-solid.o-ui-tag-hover,
a.o-ui-tag-solid.o-ui-tag-hover {
    background-color: var(--hop-neutral-surface-weak-hover);
    border-color: var(--hop-neutral-border-hover);
    color: var(--hop-neutral-text-hover);
}

/* SOLID | AS ANCHOR / BUTTON | STATES | ACTIVE */
button.o-ui-tag-solid:active,
a.o-ui-tag-solid:active,
button.o-ui-tag-solid.o-ui-tag-active,
a.o-ui-tag-solid.o-ui-tag-active {
    background-color: var(--hop-neutral-surface-weak-hover);
    border-color: var(--hop-neutral-border-hover);
    color: var(--hop-neutral-text-hover);
}

/* SOLID | AS ANCHOR / BUTTON | STATES | FOCUS */
button.o-ui-tag-solid:focus-visible,
a:not([disabled]).o-ui-tag-solid:focus-visible,
button.o-ui-tag-solid.o-ui-tag-focus,
a:not([disabled]).o-ui-tag-solid.o-ui-tag-focus {
    outline: transparent;
    background-color: var(--hop-neutral-surface-weak-hover);
    border-color: var(--hop-neutral-border-hover);
    color: var(--hop-neutral-text-hover);
}

/* SOLID | AS ANCHOR / BUTTON | STATES | DISABLED */
button.o-ui-tag-solid[disabled],
button.o-ui-tag-solid.o-ui-tag-disabled,
a.o-ui-tag-solid[disabled],
a.o-ui-tag-solid.o-ui-tag-disabled {
    background-color: var(--hop-neutral-surface-disabled);
    border-color: var(--hop-neutral-border-disabled);
    color: var(--hop-neutral-text-disabled);
    cursor: not-allowed;
}

/* OUTLINE */
.o-ui-tag-outline {
    background-color: var(--hop-neutral-surface);
    border: 1px solid var(--hop-neutral-border-weak);
}

button.o-ui-tag-outline::after,
a.o-ui-tag-outline::after {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES */
/* OUTLINE | AS ANCHOR / BUTTON | STATES | HOVER */
button:not([disabled]).o-ui-tag-outline:hover,
a:not([disabled]).o-ui-tag-outline:hover,
button:not([disabled]).o-ui-tag-outline.o-ui-tag-hover,
a:not([disabled]).o-ui-tag-outline.o-ui-tag-hover {
    background-color: var(--hop-neutral-surface-hover);
    border-color: var(--hop-neutral-border-hover);
    color: var(--hop-neutral-text-hover);
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | ACTIVE */
button:not([disabled]).o-ui-tag-outline:active,
a:not([disabled]).o-ui-tag-outline:active,
button:not([disabled]).o-ui-tag-outline.o-ui-tag-active,
a:not([disabled]).o-ui-tag-outline.o-ui-tag-active {
    background-color: var(--hop-neutral-surface-hover);
    border-color: var(--hop-neutral-border-hover);
    color: var(--hop-neutral-text-hover);
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | FOCUS */
button.o-ui-tag-outline:focus-visible,
a:not([disabled]).o-ui-tag-outline:focus-visible,
button.o-ui-tag-outline.o-ui-tag-focus,
a:not([disabled]).o-ui-tag-outline.o-ui-tag-focus {
    background-color: var(--hop-neutral-surface-hover);
    border-color: var(--hop-neutral-border-hover);
    color: var(--hop-neutral-text-hover);
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | DISABLED */
button.o-ui-tag-outline[disabled],
a.o-ui-tag-outline[disabled],
button.o-ui-tag-outline.o-ui-tag-disabled,
a.o-ui-tag-outline.o-ui-tag-disabled {
    background-color: var(--hop-neutral-surface-disabled);
    border-color: var(--hop-neutral-border-disabled);
    color: var(--hop-neutral-text-disabled);
    cursor: not-allowed;
}

/* CONTENT | DOT */
.o-ui-tag .o-ui-tag-dot {
    margin-right: var(--hop-space-inline-sm);
}

.o-ui-tag.o-ui-tag-fluid .o-ui-tag-dot {
    margin-right: var(--hop-space-inline-sm);
}

/* CONTENT | ICONS */
/* SVG is needed because sometimes this class is added on the icon list container and not the svg */
.o-ui-tag svg.o-ui-tag-start-icon,
.o-ui-tag svg.o-ui-tag-end-icon,
.o-ui-tag .o-ui-tag-start-icon svg,
.o-ui-tag .o-ui-tag-end-icon svg {
    height: 1rem;
    width: 1rem;
}

/* CONTENT | START ICON */
.o-ui-tag .o-ui-tag-start-icon {
    margin-right: var(--hop-space-inline-xs);
    flex-shrink: 0;
}

/* CONTENT | END ICON */
.o-ui-tag .o-ui-tag-end-icon {
    margin-left: var(--hop-space-inline-xs);
}

/* CONTENT | TEXT */
.o-ui-tag-text {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* CONTENT | REMOVE BUTTON */
.o-ui-tag-remove-button {
    margin-left: var(--hop-space-inline-xs);
    margin-right: calc(var(--hop-space-inline-xs) * -1);
}

.o-ui-tag-remove-button:after {
    inset: -1px;
}

.o-ui-tag-remove-button:focus-visible:after,
.o-ui-tag-remove-button:not([disabled]) .o-ui-button-focus:after {
    inset: 0;
}