.o-ui-tag-list {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: calc(-1 * var(--hop-space-stack-sm));
}

.o-ui-tag-list-item,
.o-ui-tag-list-clear-button {
    margin-right: var(--hop-space-inline-sm);
    margin-bottom: var(--hop-space-stack-sm);
}
