/* PREVIEW */
.o-ui-sb-preview {
    margin: var(--hop-space-stack-xl) 0;
    border-radius: var(--hop-shape-rouded-md);
    box-shadow: var(--hop-elevation-raised);
}

/* STORY */
.o-ui-sb-preview-story {
    padding: var(--hop-space-inset-xl) var(--hop-space-inset-lg);
}

/* SOURCE */
.o-ui-sb-preview-source {
    position: relative;
}

/* SOURCE | EDITABLE LABEL */
.o-ui-sb-preview-editable-label {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 1;
    font-size: 0.625rem;
    font-weight: 550;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

/* SOURCE | EDITOR */
.o-ui-sb-preview-editor {
    font-size: 15px;
    overflow-x: auto;
}

.o-ui-sb-preview-editor .npm__react-simple-code-editor__textarea,
.o-ui-sb-preview-editor pre {
    padding: var(--hop-space-inset-lg) !important;
}

/* SOURCE | ERROR */
.o-ui-sb-preview-error {
    background-color: var(--hop-danger-surface-weak);
    color: var(--hop-neutral-text);
    font-size: 15px;
    padding: var(--hop-space-inset-md) var(--hop-space-inset-lg);
    margin: 0;
}
