.o-ui-autocomplete-no-results {
    color: var(--hop-neutral-text);
    font-size: var(--hop-body-sm-font-size);
    line-height: var(--hop-body-sm-line-height);
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--hop-neutral-border-weak);
    border-radius: var(--hop-shape-rounded-md);
    box-shadow: var(--hop-elevation-lifted);
    background-color: var(--hop-neutral-surface);
    padding: var(--hop-space-inset-squish-md);
    position: relative;
    cursor: default;
    height: 2rem + var(--hop-space-inset-sm) * 2;
    min-width: 100%;
    max-width: 100%;
}

.o-ui-autocomplete-no-results-text {
    flex: 1 1 auto;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
