.o-ui-text-area {
    font-size: var(--hop-body-md-font-size);
}

.o-ui-text-area textarea {
    --o-ui-textarea-padding: var(--hop-space-inset-squish-md);
    resize: vertical;
    /* Fixes a bug where Firefox adds one more row than the one specified. */
    overflow-x: hidden;
    padding: var(--hop-space-inset-sm) var(--o-ui-textarea-padding);
    min-height: 5rem;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

/* TRANSPARENT */
.o-ui-text-area.o-ui-input-transparent textarea {
    padding: 0;
}

/* BUTTON | TEXTAREA */
.o-ui-text-area .o-ui-input-button {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    right: calc((var(--o-ui-input-padding-with-button) - var(--o-ui-sp-5)) / 2);
}

.o-ui-input-has-button.o-ui-text-area textarea {
    padding-right: var(--o-ui-input-padding-with-button);
}
