.o-ui-accordion {
    --o-ui-accordion-radius: var(--hop-shape-rounded-md);
    display: flex;
    flex-direction: column;
    overflow-anchor: none;
    width: 100%;
}

/* BORDERED */
.o-ui-accordion-bordered {
    box-shadow: var(--hop-elevation-lifted);
    border-radius: var(--o-ui-accordion-radius);
    background-color: var(--hop-neutral-surface);
}

/* HEADER */
.o-ui-accordion .o-ui-accordion-header {
    margin-bottom: 0;
    font-weight: 500;
}

/* HEADER BORDERLESS */
.o-ui-accordion-borderless .o-ui-accordion-header .o-ui-accordion-trigger {
    padding-top: var(--hop-space-inset-sm);
    padding-bottom: var(--hop-space-inset-sm);
    height: 2.5rem;
}

.o-ui-accordion-header:first-child {
    margin-top: 0;
}

/* TRIGGER */
.o-ui-accordion-trigger {
    outline: transparent;
    display: flex;
    align-items: center;
    margin: 0;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: background-color var(--o-ui-easing-duration-3) var(--o-ui-easing-focus), border-bottom-left-radius 5s linear, border-bottom-right-radius 5s linear;
    width: 100%;
    color: var(--hop-neutral-text);
    line-height: inherit;
    font-weight: inherit;
    position: relative;
    padding: 0 var(--hop-space-inset-sm);
    font-family: inherit;
    font-size: 100%;
}

/* TRIGGER | BORDERED */
.o-ui-accordion-bordered .o-ui-accordion-trigger {
    background-color: var(--hop-neutral-surface);
    padding: calc(var(--hop-space-inset-md) - 1px) var(--hop-space-inset-lg) var(--hop-space-inset-md) var(--hop-space-inset-lg);
    min-height: 3.5rem;
    border-top: 0.0625rem solid var(--hop-neutral-border-weakest);
}

/* TRIGGER | BORDERED | HOVER */
.o-ui-accordion .o-ui-accordion-trigger:not([disabled]):hover,
.o-ui-accordion .o-ui-accordion-trigger-hover:not([disabled]) {
    background-color: var(--hop-neutral-surface-weak);
}

/* TRIGGER | CONTENT */
.o-ui-accordion-trigger-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    line-height: 1;
}

/* TRIGGER | CONTENT | TITLE */
.o-ui-accordion-title {
    line-height: 1;
}

/* TRIGGER | BORDERED | HAS ICON */
.o-ui-accordion-bordered .o-ui-accordion-trigger.o-ui-accordion-trigger-has-icon {
    padding-left: var(--hop-space-inset-md);
}

.o-ui-accordion-icon + .o-ui-accordion-title {
    margin-left: var(--hop-space-inline-sm);
}

/* PANEL */
.o-ui-accordion-panel {
    color: var(--hop-neutral-text);
}

/* PANEL | BORDERLESS */
.o-ui-accordion-borderless .o-ui-accordion-panel {
    padding-left: var(--hop-space-inset-sm);
    padding-right: var(--hop-space-inset-sm);
}

/* PANEL | BORDERED */
.o-ui-accordion-bordered .o-ui-accordion-panel {
    background-color: var(--hop-neutral-surface);
    padding-left: var(--hop-space-inset-lg);
    padding-right: calc(var(--hop-space-inset-lg) + var(--hop-space-inset-lg));
}

/* STATES */
/* DISABLED */
.o-ui-accordion-trigger[disabled] {
    cursor: not-allowed;
}

.o-ui-accordion-trigger[disabled] .o-ui-accordion-title {
    color: var(--hop-neutral-text-disabled);
}

.o-ui-accordion-trigger[disabled] .o-ui-accordion-arrow {
    color: var(--hop-neutral-icon-disabled);
}

/* FOCUS */
.o-ui-accordion-trigger::before {
    content: "";
    position: absolute;
    border: var(--o-ui-focus-ring-thickness-md) transparent solid;
    border-radius: var(--hop-shape-rounded-sm);
    pointer-events: none;
    transition: var(--o-ui-focus-ring-transition);
}

/* FOCUS | BORDERLESS */
.o-ui-accordion-borderless .o-ui-accordion-trigger::before {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/* FOCUS | BORDERED */
.o-ui-accordion-bordered .o-ui-accordion-trigger::before {
    left: 1rem;
    right: 1rem;
    bottom: 0.5rem;
    top: 0.5rem;
}

.o-ui-accordion-trigger:focus-visible,
.o-ui-accordion-trigger-focus {
    outline: transparent;
    position: relative;
}

.o-ui-accordion-trigger:focus-visible::before,
.o-ui-accordion-trigger:not([disabled]).o-ui-accordion-trigger-focus::before {
    border-color: var(--hop-primary-border-focus);
}

/* BORDERED | FIRST ITEM | BORDER RADIUS */
.o-ui-accordion-bordered .o-ui-accordion-header:first-of-type,
.o-ui-accordion-bordered .o-ui-accordion-header:first-of-type .o-ui-accordion-trigger {
    border-top-left-radius: var(--o-ui-accordion-radius);
    border-top-right-radius: var(--o-ui-accordion-radius);
    border-top: 0;
}

/* BORDERED | LAST ITEM | BORDER RADIUS */
.o-ui-accordion-bordered .o-ui-accordion-header:last-of-type,
.o-ui-accordion-bordered .o-ui-accordion-header:last-of-type .o-ui-accordion-trigger {
    border-bottom-left-radius: var(--o-ui-accordion-radius);
    border-bottom-right-radius: var(--o-ui-accordion-radius);
}

/* BORDERED | LAST PANEL | BORDER RADIUS */
.o-ui-accordion-bordered .o-ui-accordion-panel:last-of-type,
.o-ui-accordion-bordered .o-ui-accordion-panel:last-of-type .o-ui-accordion-trigger {
    border-bottom-left-radius: var(--o-ui-accordion-radius);
    border-bottom-right-radius: var(--o-ui-accordion-radius);
}
